.products_box {
}

.search_bar {
    padding-bottom: 20px;
}

.search_input{
    max-width: 50%;
}
.refresh_icon {
    position: absolute;
    right: 10px;
    top: 5px;
}
.price_col{
    text-align: right;
    width: 70px;
}
.stock_col{
    width: 90px;
    text-align: right;
}
.action_col{
    width: 80px;
    text-align: center;
}

.name_col{
    width: 30%;
}
.deliver_col{
     width: 15%;
 }

.capacity_col{
    width: 7%;
}
.edit_icon{
    position: relative;
    right: 0px;
    top: -2px;
}
.basket_icon{
    position: relative;
    top: -8px;
    left: 0px;
}

