<button class="btn btn-primary" (click)="showAddPrizeModal= true">Dodaj</button>


<p-dataTable [value]="prizeList" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt
             [loading]="loading" loadingIcon="fa-circle-o-notch"     [paginator]="true" [pageLinks]="5"
             [rowsPerPageOptions]= paginatorValues [contextMenu]="cm"  (onRowClick)="getPrizeFromRow($event)"
             (onContextMenuSelect)="getPrizeFromRow($event)" [editable]="true" (onEditComplete)="editPrize($event.data)"  >
  <p-header>Nagrody</p-header>


  <p-column  header="lp."   [style]="{'width':'50px','text-align': 'center'}">
    <ng-template let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">
      {{i+1}}
    </ng-template>
  </p-column>

  <p-column field="name" [editable]="true" styleClass="name_col" header="Nazwa" [sortable]="true"></p-column>
  <p-column field="description"[editable]="true"  styleClass="name_col" header="Opis" [sortable]="true"></p-column>


  <p-column field="pkt"  [editable]="true" [style]="{'width':'90px','text-align': 'center'}" header="Punkty"  [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body"  >
      {{row.pkt }} pkt.
    </ng-template>
  </p-column>

  <p-column field="available"  header="Dostępność"  [sortable]="true" [style]="{'width':'90px','text-align': 'center'}">>
    <ng-template let-row="rowData" pTemplate="body">
      <img *ngIf="row.available == true" class="state_img" src="/assets/images/yes.png" height="30" width="30">
      <img *ngIf="row.available == false" class="state_img" src="/assets/images/no.png" height="30" width="30">

    </ng-template>
  </p-column>

  <p-column  header="Zdjęcie"   [style]="{'width':'120px','text-align': 'center'}">
    <ng-template let-row="rowData" pTemplate="body"  >
      <img class="basket_icon" src="http://www.kosze.waw.pl/images/prizes/{{row.id}}.jpg" height="100" width="100" >
    </ng-template>
  </p-column>







</p-dataTable>

<p-dialog  header="Dodaj nagrodę" [contentStyle]="{'height': '450px'}" closeOnEscape="false" modal="true" width="600" height="520" [(visible)]="showAddPrizeModal"  >

  <form id="prizeForm" novalidate #prizeForm="ngForm">

    <div class="form-group">
      <small id="nameDescript" class="text-muted">Nazwa</small>
      <input type="text" #login name="login" [(ngModel)]="prizeToAdd.name" #name="ngModel" class="form-control"  aria-describedby="nameDescript"  required >

    </div>

    <div class="form-group">
      <small id="descDescript" class="text-muted">Opis</small>
      <input type="text" #login name="login" [(ngModel)]="prizeToAdd.description" #desc="ngModel" class="form-control"  aria-describedby="nameDescript"  required >

    </div>

    <div class="form-group">
      <small id="pktDescript" class="text-muted">pkt</small>
      <input type="text" #login name="login" [(ngModel)]="prizeToAdd.pkt" #desc="ngModel" class="form-control"  aria-describedby="pktDescript"  required >

    </div>

    <div class="form-group">
      <small id="add_file" class="text-muted">Wgraj zdjęcie </small>
      <p-fileUpload name="files" accept=".jpg"
                    invalidFileTypeMessageSummary="Niedozwolony typ pliku"
                    invalidFileTypeMessageDetail="Dozwolone sa tylko pliki .jpg"
                    maxFileSize="250000" [showUploadButton]="false"
                    (onRemove)="enableUploadButton()" (onError)="enableUploadButton()"
                    (onClear)="enableUploadButton()"
                    invalidFileSizeMessageSummary="{0} - plik jest za duży"
                    invalidFileSizeMessageDetail="rozmiar pliku może wynosić maksymalnie {0}"
                    chooseLabel="Wybierz zdjęcie" uploadLabel="Wgraj" cancelLabel="Anuluj"
                    (onSelect)="handleFileInput($event)">


      </p-fileUpload>
    </div>



    <button class="btn bg-primary " (click)="savePrize(prizeForm)"> Zapisz</button>
  </form>


</p-dialog>


<p-dialog  header="Zmień zdjęcie" [contentStyle]="{'height': '450px'}" closeOnEscape="false" modal="true" width="600" height="520" [(visible)]="showChangeImgModal"  >

  <form id="editImgForm" novalidate #editImgForm="ngForm">
    <div class="form-group">
      <small id="add_file2" class="text-muted">Wgraj zdjęcie </small>
      <p-fileUpload #fileupl name="fileupl" accept=".jpg"
                    invalidFileTypeMessageSummary="Niedozwolony typ pliku"
                    invalidFileTypeMessageDetail="Dozwolone sa tylko pliki .jpg"
                    maxFileSize="250000" [showUploadButton]="false"
                    (onRemove)="enableUploadButton()" (onError)="enableUploadButton()"
                    (onClear)="enableUploadButton()"
                    invalidFileSizeMessageSummary="{0} - plik jest za duży"
                    invalidFileSizeMessageDetail="rozmiar pliku może wynosić maksymalnie {0}"
                    chooseLabel="Wybierz zdjęcie" uploadLabel="Wgraj" cancelLabel="Anuluj"
                    (onSelect)="handleFileInputForAddImg($event)">


      </p-fileUpload>
    </div>



    <button class="btn bg-primary " (click)="editPrizeImg(editImgForm)"> Zapisz</button>
  </form>


</p-dialog>

<p-contextMenu #cm [model]="menuItems"> </p-contextMenu>