
<div  class="products_box col-lg-9">
  <div class="input-group search_bar">
    <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
    <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1" >
    <i class="fa fa-plus pull-right fa-2x" aria-hidden="true" (click)="addSupplierShow()"></i>
    <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
  </div>


<p-dataTable [value]="suppliers" [rows]="50"  #dt [globalFilter]="gb"
             [loading]="loading" loadingIcon="fa-circle-o-notch" [editable]="true" (onEditComplete)="editSupplier($event.data)"   [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]= paginatorValues  >
  <p-header>Lista Dostawców</p-header>


  <p-column  header="lp."   [style]="{'width':'70px'}">
    <ng-template let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">
      {{i+1}}
    </ng-template>
  </p-column>

  <p-column field="supplierName" styleClass="name_col" header="Nazwa" [editable]="true" [sortable]="true"></p-column>

  <p-column  header="Akcja" styleClass="action_col">
    <ng-template let-product="rowData" pTemplate="body" let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">
      <i *ngIf="authenticationService.isAdmin() ||  authenticationService.isMagazynUser() " class="fa fa-trash fa-2x edit_icon" aria-hidden="true" title="Usuń dostawcę"  (click)="deleteSupplier(row)"></i>
    </ng-template>
  </p-column>


</p-dataTable>
</div>

<p-confirmDialog header="Usuwanie Dostawcy" key="resetSupplier" icon="fa fa-question-circle" width="425"></p-confirmDialog>





<p-dialog header="Dodaj dostawcę" modal="true" width="600" [(visible)]="addSupplierDialogShow" (onHide)="closeSupplierAddDialog()" >



    <div class="form-group">
      <small id="nameDescript" class="text-muted">Nazwa dostawcy </small>
      <input type="text" #supplier_name name="supplier_name" class="form-control" [(ngModel)]="tmpSupplierName" #name="ngModel" aria-describedby="nameDescript"  required >
      <ul class="text-danger list-unstyled" *ngIf="name.dirty|| formSubmitted">
        <li  *ngIf="name.errors?.required">To pole nie może być puste</li>
      </ul>
    </div>

    <button class="btn bg-primary " (click)="addSupplier()"> Zapisz</button>

</p-dialog>