<div class="products_box col-lg-9">
    <div class="input-group search_bar">
    <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"
               aria-describedby="basic-addon1">
        <i class="fa fa-plus pull-right fa-2x" aria-hidden="true" (click)="addSupplierShow()"></i>
        <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
    </div>


    <p-dataTable [value]="suppliers" [rows]="50" #dt [globalFilter]="gb"
                 [loading]="loading" loadingIcon="fa-circle-o-notch" [editable]="this.authenticationService.isAdmin()"
                 (onEditComplete)="editSupplier($event.data)" [paginator]="true" [pageLinks]="5"
                 [rowsPerPageOptions]=paginatorValues>
        <p-header>Lista Dostawców</p-header>


        <p-column header="lp." [style]="{'width':'70px'}">
            <ng-template let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">
                {{i+1}}
            </ng-template>
        </p-column>

        <p-column field="supplierName" styleClass="name_col" header="Nazwa" [editable]="true"
                  [sortable]="true"></p-column>
        <p-column field="contactPerson" styleClass="name_col" header="Osoba kontaktowa" [editable]="true"
                  [sortable]="true"></p-column>
        <p-column field="phone" styleClass="name_col" header="Telefon" [editable]="true" [sortable]="true"></p-column>
        <p-column field="email" styleClass="name_col" header="Email" [editable]="true" [sortable]="true"></p-column>
        <p-column field="address" styleClass="name_col" header="Adres" [editable]="true" [sortable]="true"></p-column>
        <p-column field="webSite" styleClass="name_col" header="Strona internetowa" [editable]="true"
                  [sortable]="true"></p-column>

        <p-column header="Akcja" styleClass="action_col">
            <ng-template let-product="rowData" pTemplate="body" let-row="rowData" let-i="rowIndex"
                         pTemplate="rowexpansion">
                <i *ngIf="authenticationService.isAdmin() ||  authenticationService.isMagazynUser() "
                   class="fa fa-trash fa-2x edit_icon" aria-hidden="true" title="Usuń dostawcę"
                   (click)="deleteSupplier(row)"></i>
            </ng-template>
        </p-column>


    </p-dataTable>
</div>

<p-confirmDialog header="Usuwanie Dostawcy" key="resetSupplier" icon="fa fa-question-circle"
                 width="425"></p-confirmDialog>


<p-dialog header="Dodaj dostawcę" modal="true" width="600" [(visible)]="addSupplierDialogShow"
          (onHide)="closeSupplierAddDialog()">

    <form id="addForm" novalidate #form="ngForm">

        <div class="form-group">
            <small id="nameDescript" class="text-muted">Nazwa dostawcy</small>
            <input type="text" #supplier_name name="supplier_name" class="form-control"
                   [(ngModel)]="supplierToCreate.supplierName" #sup_name="ngModel" aria-describedby="nameDescript"
                   required>
            <ul class="text-danger list-unstyled" *ngIf="sup_name.dirty|| formSubmitted">
                <li *ngIf="sup_name.errors?.required">To pole nie może być puste</li>
            </ul>
        </div>


        <div class="form-group">
            <small id="contactPersonDescript" class="text-muted">Osoba kontaktowa</small>
            <input type="text" #contact_person name="supplier_name" class="form-control"
                   [(ngModel)]="supplierToCreate.contactPerson" #name="ngModel"
                   aria-describedby="contactPersonDescript">
        </div>

        <div class="form-group">
            <small id="emailDescript" class="text-muted">Email</small>
            <input type="text" #supplier_email name="supplier_name" class="form-control"
                   [(ngModel)]="supplierToCreate.email" #name="ngModel" aria-describedby="emailDescript">
        </div>

        <div class="form-group">
            <small id="phoneDescript" class="text-muted">Telefon</small>
            <input type="text" #supplier_phone name="supplier_name" class="form-control"
                   [(ngModel)]="supplierToCreate.phone" #name="ngModel" aria-describedby="phoneDescript">
        </div>

        <div class="form-group">
            <small id="addressDescript" class="text-muted">Adres</small>
            <input type="text" #supplier_address name="supplier_name" class="form-control"
                   [(ngModel)]="supplierToCreate.address" #name="ngModel" aria-describedby="addressDescript">
        </div>

        <div class="form-group">
            <small id="webDescript" class="text-muted">Strona internetowa</small>
            <input type="text" #supplier_web name="supplier_name" class="form-control"
                   [(ngModel)]="supplierToCreate.webSite" #name="ngModel" aria-describedby="webDescript">
        </div>


        <button class="btn bg-primary " (click)="addSupplier(form)"> Zapisz</button>
    </form>


</p-dialog>