<div id="black">
</div>
<div id="mySidenav" class="sidenav" >
    <i class="fa fa-user-o fa-4x login_user_image" aria-hidden="true"></i>
    <span class="login_user"></span>

    <div id="menu">
        <ul>

            <li>
                <h3><span class="fa fa-home"></span>Home</h3>
            </li>


            <li routerLinkActive="active_main">
                <h3 class="tak"><span class="fa fa-newspaper-o"></span>Produkty</h3>
                <ul>
                    <li><a  [routerLink]="['/product/'] " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Przeglądaj</a></li>
                    <li><a [routerLink]="['/product/add'] " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dodaj</a></li>
                </ul>
            </li>



            <li routerLinkActive="active_main">
                <h3><span class="fa fa-shopping-basket"></span>Kosze</h3>
                <ul>
                    <li><a [routerLink]="['/baskets/'] " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Lista Koszy</a></li>
                    <li><a [routerLink]="['/baskets/add'] " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Kreator Koszy</a></li>

                </ul>
            </li>


            <li routerLinkActive="active_main">
                <h3><span class="fa fa-bar-chart"></span>Zamówienia</h3>
                <ul>
                    <li><a [routerLink]="['/baskets/order']" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }" >Stwórz zamówienie</a></li>
                    <li><a [routerLink]="['/orders']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Lista zamówień</a></li>
                </ul>
            </li>


            <li>
                <h3 [routerLink]="['/login']"><span class="fa fa-sign-out"></span>Wyloguj się</h3>
            </li>
        </ul>
    </div>
</div>
<ul>


</ul>