.ui-overlaypanel{
    width: 0%;
    z-index: 0;
    position: fixed;
    top: 30%;
    left: -30px;


}
.ui-overlaypanel-content{
     width: 80%;
     z-index: 99    ;
     position: fixed;
     top: 20%;
     left: 10% ;

 }
.ui-overlaypanel-content .ui-datatable {
    padding: 20px;
    padding-top: 8px;
}
.ui-overlaypanel-content .search_bar{
    padding: 20px;
    padding-bottom: 8px;
    width: 70%;
}


.dark_background{
    background-color:black;
    opacity: .80;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup_frame{
    width: 80%;
    z-index: 99    ;
    position: fixed;
    top: 20%;
    left: 10% ;
}
.input-group-addon{
    min-width: 130px;
}
.customer_data_form{
    margin-bottom: 26px;
}
.order_detail_form{
}
.errorDesc{
    display:inline-block;
}
.form-group{
    margin-bottom: 5px;
}
input.ng-dirty.ng-invalid { border: 1px solid #ff0000 }
input.ng-dirty.ng-valid { border: 1px solid #6bc502 }

select.ng-dirty.ng-invalid { border: 1px solid #ff0000 }
select.ng-dirty.ng-valid { border: 1px solid #6bc502 }
.basket_products_info{
    padding: 10px;
}

.basket_products_info{
    padding: 10px;
}
.product_tab{
    width: 65%;
    border: 1px solid black;
}
.product_tab th {
    border: 1px solid black;
}
.product_tab td{
    border: 1px solid black;
}
.product_tab tr{
    border: 1px solid black;
}


.product_tab th{
    background-color: #ebedf0;
    text-align: left;

}


.product_tab_row{
    text-align: left;
}
.markup_percent {
    max-width: 240px;
}
.markup_const{
    max-width: 240px;
}
.total{
    color:#91c176;
    font-size: 17px;
    font-weight: bold;

    width: 230px;
    padding: 5px;
    margin-top: 10px;
}
.tot{
    padding: 5px;
    padding-top: 10px;
}

.markup_const .input-group-addon{
    min-width: 145px;
    font-size: 14px;
}
.order_summary{
    padding-left: 0px;
    padding-right: 0px;
}
.tax_input1{
     position: relative;
     top: -28px;
    margin-left: 22px;
 }
.tax_input2{
    position: relative;
    top: -55px;
    margin-left: 22px;
}
.markup_const_check{
    position:relative;
    top: 0px;
    left: 20px;
}
.markup_const_percent{
    position:relative;
    top: 30px;
    left: 20px;
}

.btn {
    margin-right: 10px;
}

.weekofyear_date {
    margin-right: 45px;
    position: relative;
    top: 5px;
    left: 10px;
}


.pickfromdb{
    position: absolute;
    top: 0px;
    right: 6px;
    padding: 5px;
}

.cont{
    position: relative;
}

.customerpanels .ui-panel {
    margin-top: 30px;
}
.customerpanels2 .ui-panel {
    margin-top: 60px;
}

.clean-button{
    position: absolute;
    top: 50px;
    left: 30px;
}

.pt { margin-top: 40px}

.clean-company-icon {
    position: absolute;
    top: 5px;
    right: 55px;
    z-index: 9;
}

.edit-address-icon{
    position: absolute;
    top: 5px;
    right: 82px;
    z-index: 9;
}