<div class="basketList">
    <p-fieldset legend="Lista dostępnych koszy" [toggleable]="true">

        <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">
        </div>

        <p-dataTable [value]="baskets" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
                     [loading]="loading" loadingIcon="fa-circle-o-notch" expandableRows="true" (onRowDblclick)="addBasketToOrder($event.data)" (onContextMenuSelect)="contextMenuSelected($event)"   [contextMenu]="cm"(onContextMenuSelect)="contextMenuSelected($event)"   [contextMenu]="cm">
            <p-column expander="true" header="Zawartość" styleClass="col-icon" [style]="{'width':'70px'}"></p-column>
            <p-column  header="lp."  [style]="{'width':'70px'}">
                <ng-template let-i="rowIndex" pTemplate="rowexpansion">
                    {{i+1}}
                </ng-template>
            </p-column>
            <p-column field="basketName" header="Nazwa kosza" [sortable]="true"></p-column>
            <p-column field="basketType.basketTypeName" header="Typ kosza" [sortable]="true" ></p-column>
            <p-column field="basketTotalPrice"  header="Cena kosza "  [sortable]="true" >
                <ng-template let-row="rowData" pTemplate="body">
                    {{row.basketTotalPrice/100| number : '1.2-2'}} zł.
                </ng-template>

            </p-column>
            <p-column field="season" header="Sezon" [sortable]="true" ></p-column>
            <ng-template let-basket pTemplate="rowexpansion">
                <div class="basket_products_info">
                    Zawartość kosza:  {{basket.basketName}}
                    <table class="product_tab" >
                        <thead>
                        <tr class="product_tab_row">
                            <th>Nazwa Produktu</th>
                            <th>Pojemność</th>
                            <th>Cena zakupu</th>
                            <th>Ilość</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="product_tab_row" *ngFor="let i of basket.basketItems">
                            <td>{{i.product.productName}}</td>
                            <td>{{i.product.capacity}}</td>
                            <td>{{i.product.price/100}} zł</td>
                            <td>{{i.quantity}} szt.</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </ng-template>

        </p-dataTable>

    </p-fieldset>
</div>

<div class="row">
    <div class="picked_products_list col-md-6 ">
            <p-fieldset legend="Pozycje zamówienia" [toggleable]="true">
                <table *ngIf="isBasketLinesEmpty()==false">
                    <thead>
                    <tr>
                        <th>nazwa kosza</th>
                        <th class="col_quantity">ilość</th>
                        <th>usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let orderItems of orderItems">
                        <td scope="row">{{orderItems.basket.basketName}}</td>
                        <td><input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" min="0" [value]="orderItems.quantity" (change)="updateQuantity(orderItems,$event.target.value)"  ></td>
                        <td class="col_delete"><i class="fa fa-trash" aria-hidden="true" (click)="deleteProductLine(orderItems.basket.basketId)"></i></td>
                    </tr>
                    </tbody>
                </table>
                <p *ngIf="isBasketLinesEmpty()==true">Brak pozycji w zamówieniu</p>
            </p-fieldset>
    </div>

    <div #basketsummary class="basket_summary col-md-6">
        <p-fieldset legend="Podsumowanie koszyka" [toggleable]="true">
            <div class="row">
                <div class="col-lg-5">
                    <p class="tot">Kwota zamówienia: {{total/100| number : '1.2-2'}} zł</p>
                    <!--<p class="total">Cena z marżą: {{totalPlusMarkUp/100| number : '1.2-2'}} zł</p>-->

                </div>


            </div>
        </p-fieldset>
    </div>
</div>


    <div class="order_summary col-12">
        <p-fieldset legend="Szczegóły zamówienia" [toggleable]="true">
            <div class="row">
                <div class="customer_data_form col-md-6">
                <p-panel header="Dane osoby zamawiającej">

                    <button class="btn bg-primary text" (click)="showCustomerList()">Wybierz klienta</button>
                    <button *ngIf="storedCustomerMode" class="btn bg-primary text" (click)="showAddAddressWindow()">Dodaj adres</button>
                    <button class="btn bg-primary text"  (click)="cleanForm(form,formAdidtional)">Wyczyść</button>




                    <div class="form-group">
                        <form id="OrderForm" novalidate #form="ngForm" (submit)="submitOrderForm(form,formAdidtional)">



                            <div *ngIf="isAddressesOptionVisable" class="form-group">
                                <small id="addressDesc" class="text-muted">Wybierz Adres</small>
                                <select class="form-control" [(ngModel)]="order.address" name="address2" #address2="ngModel" required  >
                                    <option  *ngFor="let a of selectedCustomer.addresses" [ngValue]="a">{{a.address +" "+ a.cityName +" "+ a.zipCode}}</option>
                                </select>
                                <ul class="text-danger list-unstyled" *ngIf="address2.dirty|| formSubmitted">
                                    <li  *ngIf="address2.errors?.required">Wybierz adres z listy</li>
                                </ul>
                            </div>







                           <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="name" #name="ngModel" class="form-control"  size="300" aria-describedby="nameDesc" [readonly]="isFormReadOnly()"  [(ngModel)]="selectedCustomer.name" required >
                                    <span class="input-group-addon" id="nameDesc">Imię i Nazwisko </span>
                                </div>
                               <ul class="text-danger list-unstyled" *ngIf="name.dirty|| formSubmitted">
                                   <li  *ngIf="name.errors?.required">To pole nie może być puste</li>
                               </ul>
                           </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="organization" #organization="ngModel" class="form-control"  size="300" aria-describedby="organizationDesc"  [readonly]="isFormReadOnly()" [(ngModel)]="selectedCustomer.organizationName">
                                    <span class="input-group-addon" id="organizationDesc">Nazwa Firmy</span>
                                </div>
                            </div>

                            <div *ngIf="!storedCustomerMode" class="form-group">
                                <div class="input-group">
                                    <input type="text" name="address" #address="ngModel" class="form-control"  size="300" aria-describedby="streetDesc" [readonly]="isFormReadOnly()" [(ngModel)]="selectedCustomerAddress.address" >
                                    <span class="input-group-addon" id="streetDesc">Ulica / nr. lokalu</span>
                                </div>
                                <ul class="text-danger list-unstyled" *ngIf="address.dirty|| formSubmitted">
                                    <li  *ngIf="address.errors?.required">To pole nie może być puste</li>
                                </ul>
                            </div>

                            <div *ngIf="!storedCustomerMode" class="form-group">
                                <div class="input-group">
                                    <input type="text" name="zip_code" #zip_code="ngModel" class="form-control"  size="300" aria-describedby="zip_codeDesc"
                                           [readonly]="isFormReadOnly()" [(ngModel)]="selectedCustomerAddress.zipCode" required pattern="\d{2}-\d{3}" (keyup)="ZipCodeUtil($event.target.value)"  >
                                    <span class="input-group-addon" id="zip_codeDesc">Kod pocztowy</span>
                                </div>
                                <ul class="text-danger list-unstyled" *ngIf="zip_code.dirty|| formSubmitted">
                                    <li  *ngIf="zip_code.errors?.pattern">Kod musi być w formacie xx-xxx </li>
                                    <li  *ngIf="zip_code.errors?.required">To pole nie może być puste</li>
                                </ul>
                            </div>




                            <div *ngIf="!storedCustomerMode" class="form-group">
                                <div class="input-group">
                                    <input type="text" name="city_name" #city_name="ngModel" class="form-control"  size="300" aria-describedby="city_nameDesc" [readonly]="isFormReadOnly()" [(ngModel)]="selectedCustomerAddress.cityName" >
                                    <span class="input-group-addon" id="city_nameDesc">Miejscowość</span>
                                </div>
                                <ul class="text-danger list-unstyled" *ngIf="city_name.dirty|| formSubmitted">
                                    <li  *ngIf="city_name.errors?.required">To pole nie może być puste</li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="email" name="email" class="form-control"  size="300" aria-describedby="emailDesc" [readonly]="isFormReadOnly()" [(ngModel)]="selectedCustomer.email">
                                    <span class="input-group-addon" id="emailDesc">Email</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="tel" class="form-control"  size="300" aria-describedby="telDesc" [readonly]="isFormReadOnly()" [(ngModel)]="selectedCustomer.phoneNumber" >
                                    <span class="input-group-addon" id="telDesc">Telefon</span>
                                </div>
                            </div>
                        </form>




                    </div>
                </p-panel>
            </div>
                <div class="order_detail_form col-md-6">
                    <p-panel header="Dodatkowe informacje">
                            <form id="OrderFormAdditional" novalidate #formAdidtional="ngForm">



                            <div class="form-group">
                                     <small id="fv_numbereDescript" class="text-muted">Numer FV</small>
                                    <input type="text" name="fv_number" #fv_number="ngModel"  class="form-control" size="300"  aria-describedby="delivery_dateDesc" required [(ngModel)]="order.orderFvNumber">
                                <ul class="text-danger list-unstyled" *ngIf="fv_number.dirty|| formSubmitted">
                                    <li  *ngIf="fv_number.errors?.required">Wprowadz numer FV</li>
                                </ul>
                             </div>





                            <div class="form-group">
                                <small id="delivery_typeDesc" class="text-muted">Rodzaj dostawy</small>
                                <select class="form-control" [(ngModel)]="order.deliveryType" name="delivery_type" #delivery_type="ngModel" required >
                                    <option *ngFor="let item of deliveryTypes" [ngValue]="item">{{item.deliveryTypeName}}</option>
                                </select>
                                <ul class="text-danger list-unstyled" *ngIf="delivery_type.dirty|| formSubmitted">
                                    <li  *ngIf="delivery_type.errors?.required">Wybierz typ dostawy</li>
                                </ul>
                            </div>


                                <div *ngIf="order.deliveryType?.deliveryTypeId==5 || order.deliveryType?.deliveryTypeId==6 || order.deliveryType?.deliveryTypeId==7">
                                    <div class="form-group" >
                                        <small id="codDescript" class="text-muted">Kwota pobrania</small>
                                        <input type="number" name="cod" #cod="ngModel"  class="form-control" size="200"  aria-describedby="codDesc"  [(ngModel)]="order.cod" pattern="^(?=.*?\d)\d*[.]?\d{1,2}$">
                                    </div>
                                    <ul class="text-danger list-unstyled" *ngIf="cod?.dirty|| formSubmitted">
                                        <li  *ngIf="cod.errors?.pattern">To pole musi zawierać format waluty z kropką np : 0.59 , 2.5 , 0.99 , 19.99</li>
                                    </ul>
                                </div>





                            <div class="form-group">
                                <div class="input-group">
                                    <input type="date" name="delivery_date"   class="form-control" #delivery_date="ngModel" [(ngModel)]="order.deliveryDate"  aria-describedby="delivery_dateDesc" required>

                                    <span class="input-group-addon" id="taxDesc">Data wysyłki</span>
                                </div>
                                <ul class="text-danger list-unstyled" *ngIf="delivery_date.dirty|| formSubmitted">
                                    <li  *ngIf="delivery_date.errors?.required">Wprowadz planowaną datę wysyłki</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <small id="additional_informationDesc" class="text-muted">Dodatkowe informacje</small>
                                    <textarea class="form-control" name="additional_information" id="additional_information"  size="1000" rows="3" [(ngModel)]="order.additionalInformation"></textarea>
                                </div>
                            </div>




                                <div class="form-group">
                                    <small id="add_file" class="text-muted">Wgraj plik</small>
                                    <p-fileUpload name="files"  multiple="multiple"  maxFileSize="5000000"
                                                  invalidFileSizeMessageSummary="{0} - plik jest za duży" invalidFileSizeMessageDetail="rozmiar pliku może wynosić maksymalnie {0}"
                                                  [showUploadButton]="false" chooseLabel="Wybierz plik" uploadLabel="Wgraj" (onBeforeSend)="onBeforeUpload($event)"  cancelLabel="Anuluj wgrywanie plików"   >


                                        <ng-template pTemplate="content">


                                        </ng-template>

                                    </p-fileUpload>
                                </div>




                        </form>
                        <button class="btn bg-primary " type="submit" form="OrderForm" >Zapisz Zamówienie</button>
                        <button class="btn bg-primary " (click)="cancelCreateOrder()"  >Anuluj </button>
                        <div *ngIf="orderItems.length<1 && formSubmitted" class="alert alert-danger" role="alert">
                            <strong>Błąd. Zamówienie nie może być puste</strong>
                        </div>
                    </p-panel>

                </div>
            </div>

        </p-fieldset>
    </div>



<p-dialog [(visible)]="confirmDialogShow" modal="true" >

    <p-header>
        <i class="fa fa-check fa-4x" aria-hidden="true"></i> Pomyślnie dodano zamówienie
    </p-header>


    <p-footer>
        <button class="btn btn-success btn-lg" (click)="hideAddOrderConfirmModal()"><i class="fa fa-reply fa-2x" aria-hidden="true"></i>Wyjdz</button>
        <button class="btn btn-success btn-lg" [routerLink]="['/orders/']"><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i>Lista zamówień</button>
        <button class="btn btn-success btn-lg" (click)="printPdf()"><i class="fa fa-print fa-2x" aria-hidden="true"></i> Drukuj PDF</button>

    </p-footer>

</p-dialog>


<p-dialog header="Wybierz klienta" modal="true" width="1300" [(visible)]="customerPickDialogShow" >
    <div >
        <div class="input-group search_bar">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            <input #globalfilter type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">

        </div>
        <p-dataTable [value]="customers" [rows]="10" [paginator]="true"  #dt (onRowDblclick)="pickCustomer($event.data)"
                     [loading]="loading" loadingIcon="fa-circle-o-notch" [globalFilter]="globalfilter">
            <p-column field="name" header="Imię i Nazwisko" [sortable]="true" ></p-column>
            <p-column field="organizationName" header="Firma" [sortable]="false"></p-column>
            <p-column field="email" header="Email" [sortable]="false"></p-column>

        </p-dataTable>
    </div>
</p-dialog>

<p-contextMenu  #cm [model]="items"> </p-contextMenu>


<p-dialog modal="true" width="600" [(visible)]="addAddressDialogShow"  >


    <p-panel [header]="'Dodaj adres'"   >
        <form id="CustomerAddAddrForm" novalidate #formAddAddr="ngForm">


            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="address" #address="ngModel" class="form-control"  size="300" aria-describedby="streetDesc"  [(ngModel)]="addressToAdd.address" required>
                    <span class="input-group-addon" id="streetDesc">Ulica / nr. lokalu</span>
                </div>
                <ul class="text-danger list-unstyled" *ngIf="address.dirty|| formSubmitted">
                    <li  *ngIf="address.errors?.required">To pole nie może być puste</li>
                </ul>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="text" #someVar name="zip_code" #zip_code="ngModel" class="form-control"  size="300" aria-describedby="zip_codeDesc" (keyup)="ZipCodeUtil($event.target.value)"
                           [(ngModel)]="addressToAdd.zipCode" required pattern="\d{2}-\d{3}">
                    <span class="input-group-addon" id="zip_codeDesc">Kod pocztowy</span>
                </div>
                <ul class="text-danger list-unstyled" *ngIf="zip_code.dirty|| formSubmitted">
                    <li  *ngIf="zip_code.errors?.pattern">Kod musi być w formacie xx-xxx </li>
                    <li  *ngIf="zip_code.errors?.required">To pole nie może być puste</li>
                </ul>

            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="city_name" #city_name="ngModel" class="form-control"  size="300" aria-describedby="city_nameDesc"  [(ngModel)]="addressToAdd.cityName" required >
                    <span class="input-group-addon" id="city_nameDesc">Miejscowość</span>
                </div>
                <ul class="text-danger list-unstyled" *ngIf="city_name.dirty|| formSubmitted">
                    <li  *ngIf="city_name.errors?.required">To pole nie może być puste</li>
                </ul>
            </div>



            <button class="btn bg-primary" type="submit" form="CustomerAddAddrForm" (click)="submitAddAddresForm(form)" > Dodaj</button>
            <button class="btn bg-primary " (click)="cancelAddAddr()"  >Anuluj </button>
        </form>
    </p-panel>
</p-dialog>






<p-dialog header="Wybierz Miasto:" closeOnEscape="false" modal="true" width="400" [(visible)]="pickCityByZipCodeWindow"  (onHide)="clearOnCloseDialog()" >
    <div >

        <table class="city_tab2" >
            <thead>

            </thead>
            <tbody>
            <tr class="city_tab_row" *ngFor="let city of tmpCityList">
                <td (click)="selectCity(city)" class="citySelect">{{city}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</p-dialog>



