.redcolor {
     border-color: red !important; ;

 }

.redcolor3 {
    border-color: yellow !important; ;

}

.redcolor2 {
    color: red !important; ;

}

.input-group-addon{
    min-width: 150px;
}

