.table{
    max-width: 400px;
    border: 1px;
}
p-panel{
    max-width: 400px;
}
.btn{
    margin-right: 10px;
}
.ui-panel-content{
    max-width: 400px;
}
.input-group-addon{
    min-width: 100px;
}

.city_tab2 td:hover{
    background-color: #d6f2c2;
}

.city_tab2 th{
    background-color: #ebedf0;
    text-align: center;

}
.city_tab_row  {
    text-align: center;
}

.city_tab2{
    width: 100%;
    border: 1px solid black;
}
