
<p-confirmDialog key="delete" header="Usuwanie produktu" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<div class="col-md-8">
  <p-panel [header]="'Szczegóły klienta nr:'+ customer.customerId" >


    <table class="table">
        <thead>
          <tr>
              <th>Imię</th>
              <th>Firma</th>
              <th>Email</th>
              <th>Telefon</th>
              <th>Uwagi</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td scope="row">{{customer.name}}</td>
              <td>{{customer.company.companyName}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.phoneNumber}}</td>
              <td>{{customer.additionalInformation}}</td>
              <td><button *ngIf="isAdmin()" class="btn bg-primary"  (click)="showChangeCustomerDataWindow()" > Edytuj </button></td>
          </tr>
        </tbody>
    </table>

    <hr />



  </p-panel>
</div>

<br>

<div class=" col-md-12">
  <order>

  </order>
</div>










<p-dialog header="Edytuj dane klienta:" closeOnEscape="false" modal="true" width="800" [(visible)]="changeCustomerDataDialogShow"  (onHide)="clearOnCloseChangeMainAddressDialog()" >

    <p-panel header="Edytuj dane klienta">


        <form id="CustomerForm" novalidate #form="ngForm">
            <div class="form-group">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="name" #name="ngModel" class="form-control"  size="300" aria-describedby="nameDesc"   [(ngModel)]="customer.name"  required >
                        <span class="input-group-addon" id="nameDesc">Imię i Nazwisko </span>
                    </div>
                    <ul class="text-danger list-unstyled" *ngIf="name.dirty|| formSubmitted">
                        <li  *ngIf="name.errors?.required">To pole nie może być puste</li>
                    </ul>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="organization" #organization="ngModel" class="form-control"  size="300" aria-describedby="organizationDesc" [readonly]="true"  [(ngModel)]="customer.company.companyName">
                        <span class="input-group-addon" id="organizationDesc">Nazwa Firmy</span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <input type="email" name="email" class="form-control"  size="300" aria-describedby="emailDesc"  [(ngModel)]="customer.email">
                        <span class="input-group-addon" id="emailDesc">Email</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="tel" #tel="ngModel" class="form-control"  size="300" aria-describedby="telDesc"  [(ngModel)]="customer.phoneNumber" required>
                        <span class="input-group-addon" id="telDesc">Telefon</span>
                    </div>
                    <ul class="text-danger list-unstyled" *ngIf="tel.dirty|| formSubmitted">
                        <li  *ngIf="tel.errors?.required">To pole nie może być puste</li>
                    </ul>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="cust_inf" class="form-control"  size="300" aria-describedby="custDesc"  [(ngModel)]="customer.additionalInformation" >
                        <span class="input-group-addon" id="custDesc">Uwagi</span>
                    </div>
                </div>

            </div>

            <button class="btn bg-primary" type="submit" form="CustomerForm" (click)="submitEditCustomerForm(form)" > Zmień Dane</button>
            <button class="btn bg-primary " (click)="cancelEditCustomer()"  >Anuluj </button>
        </form>
    </p-panel>
</p-dialog>
