<!--&lt;!&ndash;<button class="btn btn-primary" (click)="showAddUserModal= true">Dodaj</button>&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--<div  class="products_box">-->
  <!--<div class="input-group search_bar">-->
    <!--<span class="input-group-addon" id="basic-addon1">-->
                 <!--<i class="fa fa-search" aria-hidden="true"></i>-->
            <!--</span>-->
    <!--<input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1" >-->

    <!--<i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>-->
  <!--</div>-->

  <!--<p-dataTable [value]="pointSchemes" [rows]="50" [paginator]="true" [globalFilter]="gb" #dt-->
               <!--[loading]="loading" loadingIcon="fa-circle-o-notch"     [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]= paginatorValues  >-->
    <!--<p-header>Użytkownicy programu lojalnościowego</p-header>-->


    <!--<p-column  header="lp."   [style]="{'width':'50px','text-align': 'center'}">-->
      <!--<ng-template let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">-->
        <!--{{i+1}}-->
      <!--</ng-template>-->
    <!--</p-column>-->

    <!--<p-column field="basketSezon.basketSezonName" styleClass="name_col" header="Sezon" [sortable]="true"></p-column>-->
    <!--<p-column field="points" styleClass="name_col" header="Ilość pkt." [sortable]="true"></p-column>-->
    <!--<p-column field="step" styleClass="name_col" header="za każde wydane zł" [sortable]="true"></p-column>-->



  <!--</p-dataTable>-->
<!--</div>-->