<div class="order_summary col-12">
  <p-fieldset legend="Dostawa produktów" [toggleable]="true">


    <div class="form-group">
      <small id="supplier_typeDesc" class="text-muted">Dostawca</small>
      <select class="form-control"  #supplier="ngModel" [(ngModel)]="selectedSupplier" (change)="selectSupplier(selectedSupplier.supplierId)" name="supplier"  required >
        <option *ngFor="let item of productSuppliers"  [ngValue]="item"  >{{item.supplierName}}</option>
      </select>
    </div>



    <p-dataTable [value]="productsBySupplier" [rows]="20" [editable]="true" (onEditComplete)="updateStockRow($event)" [paginator]="true" [globalFilter]="gb" #dt
                 [loading]="loading" loadingIcon="fa-circle-o-notch"  >
      <p-header>Lista Produktów</p-header>


      <p-column  header="lp."   [style]="{'width':'70px'}">
        <ng-template let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">
          {{i+1}}
        </ng-template>
      </p-column>

      <p-column field="productName" styleClass="name_col" header="Nazwa" [sortable]="true"></p-column>
      <p-column field="capacity" styleClass="capacity_col" header="Pojemność" [sortable]="true"></p-column>
      <p-column field="supplier.supplierName" styleClass="deliver_col" header="Dostawca"  [sortable]="true" ></p-column>
      <p-column field="price" styleClass="price_col" header="Cena"  [sortable]="true">
        <ng-template let-row="rowData" pTemplate="body"  >
          {{row.price /100 |number: '1.2-2'}} zł
        </ng-template>
      </p-column>

      <p-column field="stock" [editable]=true  styleClass="stock_col" header="Stan"  [sortable]="true" >
        <ng-template let-row="rowData" pTemplate="body" type="number">
          {{row.stock}} szt.
        </ng-template>

      </p-column>





    </p-dataTable>


  </p-fieldset>
</div>