<div class="products_box">

    <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">

        <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
    </div>

    <p-dataTable [value]="orders" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt
                 [loading]="loading" loadingIcon="fa-circle-o-notch">
        <p-header>Lista Zamówień</p-header>
        <p-column field="orderId" header="Numer Zamówienia" [sortable]="true" [style]="{'width':'70px'}"></p-column>
        <p-column field="orderDate" header="Data zamówienia" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
                {{row.orderDate| date: 'dd/MM/yyyy HH:mm:ss'}}
            </ng-template>
        </p-column>


        <p-column field="customer.customerFirstName" header="Nabywca" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
                {{row.customer.customerFirstName}} {{row.customer.lastName}} {{row.customer.organizationName}}
            </ng-template>
        </p-column>

        <!--Hide columns, only to global search purpose-->
        <p-column field="customer.lastName" header=""  hidden="true"></p-column>
        <p-column field="customer.organizationName" header=""  hidden="true"></p-column>

        <p-column field="orderStatus.orderStatusName" header="Status" ></p-column>

        <p-column field="additionalInformation" header="Dodatkowe informacje" ></p-column>
        <p-column field="deliveryDate" header="Data dostawy" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
            {{row.deliveryDate| date: 'dd/MM/yyyy'}}
            </ng-template>
        </p-column>
        <p-column field="orderTotalAmount" header="total" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
                {{row.orderTotalAmount/100 | number : '1.2-2'}} zł
            </ng-template>
        </p-column>
        <p-column  header="Akcja" styleClass="action_col">
            <ng-template let-product="rowData" pTemplate="body">
                <button class="btn btn-primary" [routerLink]="['/product/', product.id]" >Edytuj</button>
            </ng-template>
        </p-column>

    </p-dataTable>
</div>