<div class="products_box">

    <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">

        <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
    </div>

    <p-dataTable [value]="orders" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt
                 [loading]="loading" loadingIcon="fa-circle-o-notch">
        <p-header>Lista Zamówień</p-header>
        <p-column field="orderId" header="Numer Zamówienia" [sortable]="true" [style]="{'width':'70px'}"></p-column>
        <p-column field="orderDate" header="Data zamówienia" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
                {{row.orderDate| date: 'dd/MM/yyyy HH:mm:ss'}}
            </ng-template>
        </p-column>
        <p-column field="deliveryType" header="Transport"  [sortable]="true" ></p-column>
        <p-column field="additionalInformation" header="Dodatkowe informacje" [sortable]="true"></p-column>
        <p-column field="deliveryDate" header="Data dostawy" [sortable]="true"></p-column>


        <p-column  header="Akcja" styleClass="action_col">
            <ng-template let-product="rowData" pTemplate="body">
                <button class="btn btn-primary" type="button" pButton [routerLink]="['/product/', product.id]" >Edytuj</button>
            </ng-template>
        </p-column>

    </p-dataTable>
</div>