.ui-overlaypanel{
    width: 0%;
    z-index: 0;
    position: fixed;
    top: 30%;
    left: -30px;


}
.ui-overlaypanel-content{
     width: 80%;
     z-index: 99    ;
     position: fixed;
     top: 20%;
     left: 10% ;

 }
.ui-overlaypanel-content .ui-datatable {
    padding: 20px;
    padding-top: 8px;
}
.ui-overlaypanel-content .search_bar{
    padding: 20px;
    padding-bottom: 8px;
    width: 70%;
}


.dark_background{
    background-color:black;
    opacity: .80;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup_frame{
    background-color: white;
    border-radius: 8px;
    z-index:10;
}
.input-group-addon{
    min-width: 100px;
}
.customer_data_form{
}
.order_detail_form{
}
.errorDesc{
    display:inline-block;
}
.form-group{
    margin-bottom: 5px;
}
input.ng-dirty.ng-invalid { border: 1px solid #ff0000 }
input.ng-dirty.ng-valid { border: 1px solid #6bc502 }

select.ng-dirty.ng-invalid { border: 1px solid #ff0000 }
select.ng-dirty.ng-valid { border: 1px solid #6bc502 }
.basket_products_info{
    padding: 10px;
}

.basket_products_info{
    padding: 10px;
}
.product_tab{
    width: 65%;
    border: 1px solid black;
}
.product_tab th {
    border: 1px solid black;
}
.product_tab td{
    border: 1px solid black;
}
.product_tab tr{
    border: 1px solid black;
}


.product_tab th{
    background-color: #ebedf0;
    text-align: left;

}


.product_tab_row{
    text-align: left;
}
