.map_cont{
    padding: 40px;
    padding-top: 0px;
}
.input_form{
    margin-bottom: 10px;
}

.table{
    margin-left: 20px;
}
.btn{
    margin-left: 30px;
}
label{
    margin-left: 20px;
    margin-right: 10px;
}
.filterOptionRadioGroup{
    margin-left: 63px;
    padding-bottom: 10px;
}