<div class="basketList">
    <p-fieldset legend="Lista Koszy" [toggleable]="true">

        <div *ngIf="url=='/baskets/order'" class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">
        </div>

        <p-dataTable [value]="baskets" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
                     [loading]="loading" loadingIcon="fa-circle-o-notch" expandableRows="true">
            <p-column expander="true" header="Zawartość" styleClass="col-icon" [style]="{'width':'70px'}"></p-column>
            <p-column field="basketId" header="ID" [sortable]="true" [style]="{'width':'70px'}"></p-column>
            <p-column field="basketName" header="Nazwa kosza" [sortable]="true"></p-column>
            <p-column field="basketType.basketTypeName" header="Typ kosza" [sortable]="true" [style]="{'width':'130px'}"></p-column>
            <p-column field="basketTotalPrice"  header="Cena kosza netto"  [sortable]="true" [style]="{'width':'140px'}">
                <ng-template let-row="rowData" pTemplate="body">
                    {{row.basketTotalPrice}} zł.
                </ng-template>

            </p-column>
            <ng-template let-basket pTemplate="rowexpansion">
                <div class="basket_products_info">
                 Zawartość kosza:  {{basket.basketName}}
                 <table class="product_tab" >
                            <thead>
                            <tr class="product_tab_row">
                                <th>Nazwa Produktu</th>
                                <th>Pojemność</th>
                                <th>Cena zakupu</th>
                                <th>Ilość</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="product_tab_row" *ngFor="let i of basket.basketItems">
                                <td>{{i.product.productName}}</td>
                                <td>{{i.product.capacity}}</td>
                                <td>{{i.product.price}} zł</td>
                                <td>{{i.quantity}} szt.</td>
                            </tr>
                            </tbody>
                 </table>

                </div>

            </ng-template>

        </p-dataTable>
    </p-fieldset>
</div>