.basketList{
    padding-top: 10px;
}
.basket_products_info{
  padding: 10px;
}
.product_tab{
    width: 65%;
    border: 1px solid black;
}
.product_tab th ,td,tr{
    border: 1px solid black;
}
.product_tab th{
    background-color: #ebedf0;
    text-align: left;

}


.product_tab_row {
    text-align: left;
}