<div class="basketList">
    <p-fieldset legend="Lista Koszy" [toggleable]="true">

        <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">
        </div>

        <p-dataTable [value]="baskets" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
                     [loading]="loading" loadingIcon="fa-circle-o-notch" expandableRows="true">
            <p-column expander="true" styleClass="col-icon"></p-column>
            <p-column field="basketId" header="ID" [sortable]="true" ></p-column>
            <p-column field="basketName" header="Nazwa" [sortable]="true"></p-column>
            <p-column field="basketType.basketTypeName" header="Nazwa" [sortable]="true"></p-column>
            <ng-template let-basket pTemplate="rowexpansion">
                <div *ngFor="let i of basket.basketItems">
                    {{i.product.productName}} / {{i.product.capacity}} / {{i.product.price}} / {{i.quantity}}
                </div>
            </ng-template>

        </p-dataTable>
    </p-fieldset>
</div>