<div class="products_box">
    <p-fieldset legend="Lista produktów" [toggleable]="true">
        <p-dataTable [value]="products" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
                     [loading]="loading" loadingIcon="fa-circle-o-notch" (onRowDblclick)="addProductToGiftBasket($event.data)">
                <p-column field="id" header="ID" [sortable]="true" [style]="{'width':'70px'}"></p-column>
                <p-column field="productName" header="Nazwa" [sortable]="true"></p-column>
                <p-column field="productType.typeName" header="Rodzaj"  [sortable]="true" ></p-column>
                <p-column field="capacity" header="Pojemność" [sortable]="true"></p-column>

                <p-column field="price" styleClass="price_col" header="Cena"  [sortable]="true">
                    <ng-template let-row="rowData" pTemplate="body"  >
                        {{row.price}} zł
                    </ng-template>
                </p-column>

                <p-column field="stock" styleClass="stock_col" header="Stan"  [sortable]="true">
                    <ng-template let-row="rowData" pTemplate="body">
                        {{row.stock}} szt.
                    </ng-template>

                </p-column>

        </p-dataTable>
    </p-fieldset>
</div>

<div class="row">
    <div class="picked_products_list">
        <p-fieldset legend="Zawartość koszyka" [toggleable]="true">
            <table *ngIf="isProductLinesEmpty()==false">
                <thead>
                <tr>
                    <th>nazwa</th>
                    <th class="col_quantity">ilość</th>
                    <th>usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let basketItems of basketItems">
                    <td scope="row">{{basketItems.product.productName}}</td>
                    <td><input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" min="0" [value]="basketItems.quantity" (change)="updateQuantity(basketItems,$event.target.value)"  ></td>
                    <td class="col_delete"><i class="fa fa-trash" aria-hidden="true" (click)="deleteProductLine(basketItems.product.id)"></i></td>
                </tr>
                </tbody>
            </table>
            <p *ngIf="isProductLinesEmpty()==true"> Koszyk jest pusty</p>
        </p-fieldset>
    </div>

    <div class="basket_summary">
        <p-fieldset legend="Podsumowanie koszyka" [toggleable]="true">
            <p>Cena Netto: {{total}} zł</p>
            <p>Cena z marżą: {{total*((markUp/100)+1)}} zł</p>

            <form id="BasketForm" novalidate #form="ngForm" (submit)="submitForm(form)">
                <div class="form-group">
                    <div class="input-group">
                        <input type="number" name="tax" class="form-control"  aria-describedby="taxDesc" step="0.1" [value]="markUp">
                        <span class="input-group-addon" id="taxDesc">marża %</span>
                    </div>

                    <div class="input-group">
                        <input type="text" name="basketName" class="form-control"  aria-describedby="nameDesc" [(ngModel)]="basket.basketName">
                        <span class="input-group-addon" id="nameDesc">nazwa koszyka</span>
                    </div>

                    <div class="input-group">
                        <select class="form-control" name="basket_type" [(ngModel)]="basket.basketType" >
                        <option *ngFor="let item of basketTypes" [ngValue]="item" aria-describedby="basketTypeDesc">{{item.basketTypeName}}</option>
                        </select>
                        <span class="input-group-addon" id="basketTypeDesc">Typ koszyka</span>
                    </div>


                    <button class="btn bg-primary pull-right" type="submit" > Zapisz Kosz</button>
                </div>

                <i class="fa fa-trash" aria-hidden="true" (click)="createBasket()"></i>
            </form>
        </p-fieldset>

    </div>
</div>