<div class="products_box">
    <p-fieldset legend="Lista produktów" [toggleable]="true">
        <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">

            <label class="form-check-label only_availeble_product_checkbox">
                <input class="form-check-input" type="checkbox"  (change)="filtrOnlyAvaileble($event)"> pokaż tylko dostępne produkty
            </label>


        </div>
        <p-dataTable [value]="products" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
                     [loading]="loading" loadingIcon="fa-circle-o-notch" (onRowDblclick)="addProductToGiftBasket($event.data)">
                <p-column field="id" header="ID" [sortable]="true" [style]="{'width':'70px'}"></p-column>
                <p-column field="productName" header="Nazwa" [sortable]="true"></p-column>
            <p-column field="capacity" header="Pojemność" [sortable]="true" [style]="{'width':'120px'}" ></p-column>
                <p-column field="deliver" header="Dostawca"  [sortable]="true" ></p-column>
                <p-column field="price" styleClass="price_col" header="Cena"  [sortable]="true">
                    <ng-template let-row="rowData" pTemplate="body"  >
                        {{row.price/100| number : '1.2-2'}} zł
                    </ng-template>
                </p-column>

                <p-column field="stock" styleClass="stock_col" header="Stan"  [sortable]="true">
                    <ng-template let-row="rowData" pTemplate="body">
                        {{row.stock}} szt.
                    </ng-template>

                </p-column>

        </p-dataTable>
    </p-fieldset>
</div>

<div class="row">
    <div class="picked_products_list col-sm-6">
        <p-fieldset legend="Zawartość kosza" [toggleable]="true">
            <table *ngIf="isProductLinesEmpty()==false">
                <thead>
                <tr>
                    <th>nazwa</th>
                    <th class="col_quantity">ilość</th>
                    <th>usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let basketItems of basketItems">
                    <td scope="row">{{basketItems.product.productName}}</td>
                    <td><input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" min="0" [value]="basketItems.quantity" (change)="updateQuantity(basketItems,$event.target.value)"  ></td>
                    <td class="col_delete"><i class="fa fa-trash" aria-hidden="true" (click)="deleteProductLine(basketItems.product.id)"></i></td>
                </tr>
                </tbody>
            </table>
            <p *ngIf="isProductLinesEmpty()==true"> Kosz jest pusty</p>
        </p-fieldset>
    </div>

    <div class="basket_summary col-sm-6">
        <p-fieldset legend="Podsumowanie kosza" [toggleable]="true">
            <div class="row">
                    <div class="col-lg-4">
                        <p>Cena Netto: {{total/100| number : '1.2-2'}} zł</p>
                        <p>Cena z marżą: {{(total*((markUp/100)+1))/100| number : '1.2-2'}} zł</p>
                    </div>

                    <div class="col-lg-8">
                        <form id="BasketForm" novalidate #form="ngForm" (submit)="submitForm(form)">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="number" name="tax" class="form-control"  aria-describedby="taxDesc"  step="0.1" [(ngModel)]="markUp" >
                                    <span class="input-group-addon" id="taxDesc">% marża</span>
                                </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="basketName" #basketName="ngModel" class="form-control"  size="30" aria-describedby="nameDesc" [(ngModel)]="basket.basketName" required>
                                    <span class="input-group-addon" id="nameDesc">nazwa kosza</span>
                                </div>
                                <ul class="text-danger list-unstyled" *ngIf="basketName.dirty|| formSubmitted">
                                    <li  *ngIf="basketName.errors?.required">To pole nie może być puste</li>
                                </ul>
                            </div>

                                <div class="form-group">
                                    <small id="basket_typeDesc" class="text-muted">Typ kosza</small>
                                    <select class="form-control" #basket_type="ngModel" name="basket_type" [(ngModel)]="basket.basketType" required="">
                                        <option *ngFor="let item of basketTypes" [ngValue]="item" aria-describedby="basketTypeDesc">{{item.basketTypeName}}</option>
                                    </select>
                                    <ul class="text-danger list-unstyled" *ngIf="basket_type.dirty|| formSubmitted">
                                        <li  *ngIf="basket_type.errors?.required">Wybierz typ koszyka</li>
                                    </ul>
                                </div>

                                <div *ngIf="basketItems.length<1 && formSubmitted" class="alert alert-danger" role="alert">
                                    <strong>Błąd. Zawartość kosza nie może być pusta</strong>
                                </div>
                            </div>
                            <button class="btn bg-primary pull-right" type="submit" form="BasketForm" > Zapisz Kosz</button>
                        </form>
                    </div>
            </div>
        </p-fieldset>
    </div>
    </div>
<gift-baskets></gift-baskets>