
<button class="btn btn-primary" (click)="showAddUserModal= true">Dodaj</button>

<div  class="products_box">
  <div class="input-group search_bar">
    <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
    <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1" >

    <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
  </div>

  <p-dataTable [value]="programUsers" [rows]="50" [paginator]="true" [globalFilter]="gb" #dt
               [loading]="loading" loadingIcon="fa-circle-o-notch"  [editable]="true"   (onEditComplete)="editProgramUser($event.data)"  [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]= paginatorValues  >
    <p-header>Użytkownicy programu lojalnościowego</p-header>


    <p-column  header="lp."   [style]="{'width':'50px','text-align': 'center'}">
      <ng-template let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">
        {{i+1}}
      </ng-template>
    </p-column>
    <p-column field="login" styleClass="name_col" header="Nr. klienta" [sortable]="true" [style]="{'width':'150px'}"></p-column>
    <p-column field="name" styleClass="name_col" header="Imię i nazwisko" [editable]="true" [sortable]="true"></p-column>
    <p-column field="email" styleClass="name_col" header="Email" [sortable]="true"></p-column>




    <p-column field="points" styleClass="price_col" header="Liczba punktów"  [editable]="true" [sortable]="true" [style]="{'width':'100px','text-align': 'center'}">
      <ng-template let-row="rowData" pTemplate="body"  >
        {{row.points }} pkt.
      </ng-template>
    </p-column>



    <p-column  header="Akcja" styleClass="action_col">
      <ng-template let-user="rowData" pTemplate="body" let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">
        <!--<i *ngIf="authenticationService.isAdmin()" class="fa fa-pencil-square-o fa-2x" aria-hidden="true"  title="Edytuj produkt" (click)=""></i>-->
        <i *ngIf="authenticationService.isAdmin()" class="fa fa-trash fa-2x edit_icon" aria-hidden="true" title="Usuń użytkownika"  (click)="ShowConfirmModal(user)" ></i>
      </ng-template>
    </p-column>


  </p-dataTable>

</div>



<p-dialog  header="Dodaj użytkownika programu lojalnościowego" [contentStyle]="{'height': '450px'}" closeOnEscape="false" modal="true" width="600" height="520" [(visible)]="showAddUserModal"  >

    <form id="addForm" novalidate #form="ngForm">

      <div class="form-group">
        <small id="nameDescript" class="text-muted">Nr. klienta </small>
        <input type="text" #login name="login" [(ngModel)]="userToAdd.login" #login="ngModel" class="form-control"  aria-describedby="nameDescript"  required >

      </div>


      <div class="form-group">
        <small id="PersonDescript" class="text-muted">Imię i nazwisko </small>
        <input type="text" #name name="name" [(ngModel)]="userToAdd.name" #name="ngModel" class="form-control"   aria-describedby="emailDescript"   >
      </div>

      <div class="form-group">
        <small id="contactPersonDescript" class="text-muted">Email </small>
        <input type="text" #email name="email" [(ngModel)]="userToAdd.email" #login="ngModel" class="form-control"   aria-describedby="emailDescript"   >
      </div>



      <button class="btn bg-primary " (click)="addUser(form)"> Zapisz</button>
    </form>


  </p-dialog>


<p-confirmDialog header="Usuwanie użytkowniak" icon="fa fa-question-circle" width="425"></p-confirmDialog>


