<p-fieldset legend="Lista Klientów" [toggleable]="true">
  <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
    <input #gb type="text" class="dd form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">



    <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>

  </div>

  <p-dataTable [value]="customersList" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
               [loading]="loading" loadingIcon="fa-circle-o-notch" expandableRows="true">
    <p-column expander="true" header="Zawartość" styleClass="col-icon " [style]="{'width':'70px'}"></p-column>

    <p-column  header="lp."   [style]="{'width':'70px'}">
      <ng-template let-i="rowIndex" pTemplate="rowexpansion">
        {{i+1}}
      </ng-template>
    </p-column>


    <p-column field="name" header="Imię i nazwisko" [sortable]="true"></p-column>
    <p-column field="organizationName" header="Nazwa Firmy" [sortable]="true" ></p-column>
    <p-column field="email" header="Email" [sortable]="true" ></p-column>



  </p-dataTable>
</p-fieldset>