<p-fieldset legend="Lista dostępnych Koszy" [toggleable]="true">

  <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
    <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">
    <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
  </div>

  <p-dataTable [value]="baskets" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
               [loading]="loading" loadingIcon="fa-circle-o-notch" expandableRows="true">
    <p-column expander="true" header="Zawartość" styleClass="col-icon " [style]="{'width':'70px'}"></p-column>
    <p-column field="basketId" header="ID" [sortable]="true" [style]="{'width':'70px'}"></p-column>
    <p-column field="basketName" header="Nazwa kosza" [sortable]="true"></p-column>
    <p-column field="basketType.basketTypeName" header="Typ kosza" [sortable]="true" ></p-column>
    <p-column field="basketTotalPrice"  header="Cena kosza netto"  [sortable]="true" >
      <ng-template let-row="rowData" pTemplate="body">
        {{row.basketTotalPrice/100| number : '1.2-2'}} zł.
      </ng-template>
    </p-column>

      <p-column  header="Akcja" styleClass="action_col">
        <ng-template let-product="rowData" pTemplate="body">
          <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"  title="Edytuj kosz" [routerLink]="['/product/', product.id] "></i>
          <i class="fa fa-trash fa-2x edit_icon" aria-hidden="true" title="Usuń kosz"  (click)="ShowConfirmModal(product)"></i>
        </ng-template>
      </p-column>

    <ng-template let-basket pTemplate="rowexpansion">
      <div class="basket_products_info">
        Zawartość kosza:  {{basket.basketName}}
        <table class="product_tab" >
          <thead>
          <tr class="product_tab_row">
            <th>Nazwa Produktu</th>
            <th>Pojemność</th>
            <th>Cena zakupu</th>
            <th>Ilość</th>
          </tr>
          </thead>
          <tbody>
          <tr class="product_tab_row" *ngFor="let i of basket.basketItems">
            <td>{{i.product.productName}}</td>
            <td>{{i.product.capacity}}</td>
            <td>{{i.product.price/100| number : '1.2-2'}} zł</td>
            <td>{{i.quantity}} szt.</td>
          </tr>
          </tbody>
        </table>

      </div>

    </ng-template>

  </p-dataTable>
</p-fieldset>


<p-confirmDialog header="Usuwanie kosza" icon="fa fa-question-circle" width="425"></p-confirmDialog>
