<p-fileUpload #dd name="files" url="http://localhost:8080/uploadfiles?add=3" multiple="multiple"  maxFileSize="10000000"
                                                                                              invalidFileSizeMessageSummary="{0} - plik jest za duży" invalidFileSizeMessageDetail="rozmiar pliku może wynosić maksymalnie {0}">
  <ng-template pTemplate="content">

  </ng-template>
</p-fileUpload>

<a name="" id="" class="btn btn-primary" (click)="getFile(9)" role="button"></a>
<a name="" id="" class="btn btn-primary" (click)="click()" role="button"></a>