<p-panel header="Zamówienie">
    <div class="row">
    <div class="col-md-6">




        <div class="form-group">
            <small id="organization" class="text-muted">Klient</small>
            <textarea class="form-control" name="additional_information"  rows="2"
                      [readonly]="true" [value]="getCustomerDesc()"></textarea>
        </div>
        <div class="form-group">
            <small id="addr" class="text-muted">Adres</small>
            <textarea class="form-control" name="additional_information" id="addr_information" rows="2"
                      [readonly]="true" [value]="getAddressDesc()"></textarea>
        </div>







            <div class="form-group">
                <small id="fv_numbereDescript" class="text-muted">Numer FV</small>
                <input type="text" name="fv_number" #fv_number="ngModel" class="form-control" [readonly]="true"
                       aria-describedby="delivery_dateDesc" [(ngModel)]="orderToShow.orderFvNumber">
            </div>


            <div class="form-group">
                <div class="form-group">
                    <small id="order_date_Desc" class="text-muted">Data złożenia zamówienia</small>
                    <input name="order_date" class="form-control" size="300" aria-describedby="order_date_Desc"
                           [readonly]="true" [value]="orderToShow.orderDate| date: 'dd/MM/yyyy HH:mm:ss'">
                </div>
            </div>


            <div class="form-group">
                <small id="statusDesc" class="text-muted">Status zamówienia</small>
                <input type="text" class="form-control" [(ngModel)]="orderToShow.orderStatus.orderStatusName"
                       name="status" [readonly]="true">

            </div>


            <div class="form-group">
                <small id="total_Desc" class="text-muted">Wartość zamówienia</small>
                <input type="text" name="total" class="form-control" size="300" aria-describedby="total_Desc"
                       [readonly]="true" [(ngModel)]="orderToShow.orderTotalAmount">
            </div>

            <div class="form-group">
                <small id="delivery_typeDesc" class="text-muted">Rodzaj dostawy</small>
                <input class="form-control" [disabled]="true" #delivery_type="ngModel"
                       [(ngModel)]="orderToShow.deliveryType.deliveryTypeName" name="delivery_type">
            </div>


            <div>
                <div class="form-group">
                    <small id="codDescript" class="text-muted">Kwota pobrania</small>
                    <input type="number" name="cod" #cod="ngModel" class="form-control" size="200"
                           aria-describedby="codDesc" [readonly]="true" [(ngModel)]="orderToShow.cod">
                </div>
            </div>


            <div class="form-group">
                <small id="taxDesc" class="text-muted">Planowana data wysyłki</small>
                <input type="date" name="delivery_date" class="form-control" #delivery_date="ngModel"
                       [(ngModel)]="orderToShow.deliveryDate" [readonly]="true" aria-describedby="delivery_dateDesc">
            </div>

            <div class="form-group">
                <small id="weekNr" class="text-muted">Tydzień dostawy</small>
                <input type="text" name="weekofyear_date" class="form-control" #weekofyear_date="ngModel"
                       [(ngModel)]="orderToShow.weekOfYear" [readonly]="true" aria-describedby="weekofyear_dateDesc">
            </div>




        <div class="form-group">
            <p>
                <p-checkbox name="additionalSaleCheckbox" binary="true" (disabled)="true"
                            [(ngModel)]="additionalSaleCheckbox"></p-checkbox>
                <span>dosprzedaż</span>
            </p>
        </div>

    </div>

    <div class="col-md-6">

        <div class="form-group">
            <small id="additional_informationDesc" class="text-muted">Dodatkowe informacje</small>
            <textarea class="form-control" name="additional_information" id="additional_information" rows="6"
                      [readonly]="true" [(ngModel)]="orderToShow.additionalInformation"></textarea>
        </div>

        <div class="form-group">
            <div class="form-group">
                <small id="text_to_cardDesc" class="text-muted">Tekst na kartkę</small>
                <textarea  [readonly]="true" class="form-control" name="text_to_card" id="text_to_card"  size="1000" rows="1" [(ngModel)]="orderToShow.textToCard"></textarea>
            </div>
        </div>


        <p-panel header="Zawartość zamówienia">
            <table>
                <thead>
                <tr>
                    <th>nazwa kosza</th>
                    <th class="col_quantity">ilość</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderItems of orderToShow.orderItems">
                    <td scope="row">{{orderItems.basket.basketName}}</td>
                    <td><input type="number" class="form-control" name="" id="" aria-describedby="helpId"
                               placeholder="" min="0" [value]="orderItems.quantity" [readonly]="true"></td>
                </tr>
                </tbody>
            </table>
        </p-panel>



    </div>
</div>
</p-panel>