
.input-group-addon{
    min-width: 130px;
}
.customer_data_form{
    margin-bottom: 26px;
}
.order_detail_form{
}
.errorDesc{
    display:inline-block;
}
.form-group{
    margin-bottom: 5px;
}
input.ng-dirty.ng-invalid { border: 1px solid #ff0000 }
input.ng-dirty.ng-valid { border: 1px solid #6bc502 }

select.ng-dirty.ng-invalid { border: 1px solid #ff0000 }
select.ng-dirty.ng-valid { border: 1px solid #6bc502 }


.order_summary{
    padding-left: 0px;
    padding-right: 0px;
}

button i {
    padding-right: 10px;
}

/*.ui-fieldset-legend{*/
    /*font-size: 25px;*/
    /*color:#1e3850;*/
/*}*/
.btn {
    margin-right: 10px;
}

.fileLink {
    cursor: pointer;
}
.weekofyear_date {
    margin-right: 45px;
    position: relative;
    top: 5px;
    left: 10px;
}

.cont{
    position: relative;
}

.customerpanels .ui-panel {
    margin-top: 60px;
}
.customerpanels2 .ui-panel {
    margin-top: 30px;
}

.clean-button{
    position: absolute;
    top: 50px;
    left: 30px;
}

.pt { margin-top: 40px}

.clean-company-icon {
    position: absolute;
    top: 5px;
    right: 55px;
    z-index: 9;
}

.edit-address-icon{
    position: absolute;
    top: 5px;
    right: 82px;
    z-index: 9;
}

.pickfromdb{
    position: absolute;
    top: 0px;
    right: 6px;
    padding: 5px;
}

.clean-company-icon {
    position: absolute;
    top: 5px;
    right: 55px;
    z-index: 9;
}

.clean-company-icon2 {
    position: absolute;
    top: 5px;
    right: 88px;
    z-index: 9;
}

.add-company-icon{
    position: absolute;
    top: 5px;
    right: 55px;
    z-index: 9;
}

.edit-address-icon{
    position: absolute;
    top: 5px;
    right: 82px;
    z-index: 9;
    text-align: center;
}

.merge-button{
    margin-top: 20px;
}

.company_tab{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.company_tab td{
    padding: 7px;
    border: 1px solid black;
    cursor: pointer;
}

.d-table{
    width: 400px;
}