
<div class="order_summary col-12">
  <p-fieldset [legend]="'Szczegóły zamówienia nr '+ order.orderFvNumber" [toggleable]="true">
    <div class="row">
      <div class="customer_data_form col-md-6">
        <p-panel header="Dane osoby zamawiającej">






          <div *ngIf="filtersLoaded | async" class="form-group">
            <small id="addressDesc" class="text-muted">Wybierz Adres</small>
            <select  class="form-control" [compareWith]="compareAddress" [(ngModel)]="order.address" name="address2" #address2="ngModel" required [disabled]="!authenticationService.isAdmin() && !authenticationService.isBiuroUser()"  >
              <option *ngFor="let a of order.customer.addresses" [ngValue]="a" >{{a.address +" "+ a.cityName +" "+ a.zipCode}}</option>
            </select>
            <ul class="text-danger list-unstyled" *ngIf="address2.dirty|| formSubmitted">
              <li  *ngIf="address2.errors?.required">Wybierz adres z listy</li>
            </ul>
          </div>




          <div class="form-group">
            <form id="OrderForm" novalidate #form="ngForm" >
              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="name"  #name="ngModel" class="form-control"  size="300" aria-describedby="nameDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()"  [(ngModel)]="customer.name" required disabled>
                  <span class="input-group-addon" id="nameDesc">Imię i Nazwisko</span>
                </div>
                <ul class="text-danger list-unstyled" *ngIf="name.dirty|| formSubmitted">
                  <li  *ngIf="name.errors?.required">To pole nie może być puste</li>
                </ul>
              </div>


              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="organization" #organization="ngModel" class="form-control"  size="300" aria-describedby="organizationDesc"  [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="customer.organizationName" disabled>
                  <span class="input-group-addon" id="organizationDesc">Nazwa Firmy</span>
                </div>
              </div>


              <div class="form-group">
                <div class="input-group">
                  <input type="email" name="email" class="form-control"  size="300" aria-describedby="emailDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="customer.email" disabled>
                  <span class="input-group-addon" id="emailDesc">Email</span>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="tel" class="form-control"  size="300" aria-describedby="telDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="customer.phoneNumber"  disabled>
                  <span class="input-group-addon" id="telDesc">Telefon</span>
                </div>
              </div>
            </form>
          </div>
        </p-panel>
      </div>
      <div class="order_detail_form col-md-6">
        <p-panel header="Dodatkowe informacje">
          <form id="OrderFormAdditional" novalidate #formAdidtional="ngForm">



            <div class="form-group">
              <small id="fv_numbereDescript" class="text-muted">Numer FV</small>
              <input type="text" name="fv_number" #fv_number="ngModel"  class="form-control"  [readonly]="!authenticationService.isAdmin() && !authenticationService.isBiuroUser()" aria-describedby="delivery_dateDesc" required [(ngModel)]="order.orderFvNumber">
              <ul class="text-danger list-unstyled" *ngIf="fv_number.dirty|| formSubmitted">
                <li  *ngIf="fv_number.errors?.required">Wprowadz numer FV</li>
              </ul>
            </div>



            <div class="form-group">
              <div class="form-group">
                <small id="order_date_Desc" class="text-muted">Data złożenia zamówienia</small>
                <input type="text" name="order_date" class="form-control"  size="300" aria-describedby="order_date_Desc" [readonly]="isFormReadOnly() && !authenticationService.isAdmin() && !authenticationService.isBiuroUser()" [value]="order.orderDate| date: 'dd/MM/yyyy HH:mm:ss'"  >
              </div>
            </div>


            <div class="form-group">
              <small id="statusDesc" class="text-muted">Status zamówienia</small>
              <select [compareWith]="compareOrderStatus" class="form-control"  [(ngModel)]="order.orderStatus" name="status"  required >
                <option *ngFor="let item of orderStatus"  [ngValue]="item"  >{{item.orderStatusName}}</option>
              </select>
            </div>



            <div class="form-group">
              <div class="form-group">
                <small id="total_Desc" class="text-muted">Wartość zamówienia</small>
                <input type="text" name="total" class="form-control"  size="300" aria-describedby="total_Desc" [readonly]="isFormReadOnly()" [(ngModel)]="totalAmount"  >
              </div>
            </div>

            <div class="form-group">
              <small id="delivery_typeDesc" class="text-muted">Rodzaj dostawy</small>
              <select [compareWith]="compareDeliveryType" class="form-control" [disabled]="!authenticationService.isAdmin() && !authenticationService.isBiuroUser()" #delivery_type="ngModel" [(ngModel)]="order.deliveryType" name="delivery_type"  required >
                <option *ngFor="let item of deliveryTypes"  [ngValue]="item"  >{{item.deliveryTypeName}}</option>
              </select>
              <ul class="text-danger list-unstyled" *ngIf="delivery_type.dirty|| formSubmitted">
                <li  *ngIf="delivery_type.errors?.required">Wybierz typ dostawy</li>
              </ul>
            </div>

            <div *ngIf="order.deliveryType?.deliveryTypeId==5 || order.deliveryType?.deliveryTypeId==6 || order.deliveryType?.deliveryTypeId==7">
              <div class="form-group" >
                <small id="codDescript" class="text-muted">Kwota pobrania</small>
                <input type="number" name="cod" #cod="ngModel"  class="form-control" size="200"  aria-describedby="codDesc" [readonly]="!authenticationService.isAdmin() && !authenticationService.isBiuroUser()"  [(ngModel)]="order.cod" pattern="^(?=.*?\d)\d*[.]?\d{1,2}$">
              </div>
              <ul class="text-danger list-unstyled" *ngIf="cod?.dirty|| formSubmitted">
                <li  *ngIf="cod.errors?.pattern">To pole musi zawierać format waluty z kropką np : 0.59 , 2.5 , 0.99 , 19.99</li>
              </ul>
            </div>



            <div class="form-group">
              <div class="input-group">
                <input type="date" name="delivery_date"   class="form-control" #delivery_date="ngModel" [(ngModel)]="order.deliveryDate" [readonly]="!authenticationService.isAdmin() && !authenticationService.isBiuroUser()" aria-describedby="delivery_dateDesc" required>
                <span class="input-group-addon" id="taxDesc">Planowana data wysyłki</span>
              </div>
              <ul class="text-danger list-unstyled" *ngIf="delivery_date.dirty|| formSubmitted">
                <li  *ngIf="delivery_date.errors?.required">Wprowadz planowaną datę wysyłki</li>
              </ul>
            </div>


            <div class="form-groupS">

              <div class="input-group ">
                <div class="weekofyear_date">Tydzień  {{weekOfYear}}   </div> <input type="date" name="weekofyear_date" (input)="OnWeekOfYearDateChange()"  class="form-control" #weekofyear_date="ngModel" [(ngModel)]="weekOfYearTmp"  aria-describedby="weekofyear_dateDesc" required>

                <span class="input-group-addon" id="taxDesc">Tydzień dostawy </span>
              </div>
              <ul class="text-danger list-unstyled" *ngIf="weekofyear_date.dirty|| formSubmitted">
                <li  *ngIf="weekofyear_date.errors?.required">Wybierz tydzień z kalenarza</li>
              </ul>
            </div>


            <div class="form-group">
              <div class="form-group">
                <small id="additional_informationDesc" class="text-muted">Dodatkowe informacje</small>
                <textarea class="form-control" name="additional_information" id="additional_information" rows="3" [readonly]="!authenticationService.isAdmin() && !authenticationService.isBiuroUser()" [(ngModel)]="order.additionalInformation" ></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group">
                <p>
                  <p-checkbox [(ngModel)]="checkedAdditionalSale" #additionalSaleCheckBox="ngModel" name="additionalSaleCheckBox" binary="true"></p-checkbox>
                  <span>dosprzedaż</span>
                </p>
              </div>
            </div>



            <div class="form-group">
              <small id="add_file" class="text-muted">Wgraj plik</small>
                <p-fileUpload [disabled]="!authenticationService.isAdmin() && !authenticationService.isBiuroUser()" name="files"  multiple="multiple"  maxFileSize="5000000"
                              invalidFileSizeMessageSummary="{0} - plik jest za duży" invalidFileSizeMessageDetail="rozmiar pliku może wynosić maksymalnie {0}"
                              chooseLabel="Wybierz plik" uploadLabel="Wgraj" cancelLabel="Anuluj" (onBeforeSend)="onBeforeUpload($event)" (onUpload)="refreshFileList()" >


                  <ng-template pTemplate="content">

                      <table>
                          <thead>
                          </thead>
                              <tbody>
                                  <tr class="fileLink"  *ngFor="let item of fileList" >
                                    <td (click)="getFile(item.fileId)" >{{item.fileName}}</td>
                                    <td *ngIf="authenticationService.isAdmin() || authenticationService.isBiuroUser()"> <i (click)="ShowConfirmModal(item)" class="fa fa-trash"></i></td>
                                  </tr>
                              </tbody>
                      </table>

                  </ng-template>

                </p-fileUpload>
            </div>




          </form>
          <button class="btn bg-primary " (click)="editOrderForm()"  >Edytuj zamówienie</button>
          <button class="btn bg-primary " (click)="cancelEdit()"  >Anuluj </button>
          <div *ngIf="orderItems.length<1 && formSubmitted" class="alert alert-danger" role="alert">
            <strong>Błąd. Zamówienie nie może być puste</strong>
          </div>
        </p-panel>

      </div>
    </div>

  </p-fieldset>
</div>

<div *ngIf="authenticationService.isAdmin() || authenticationService.isBiuroUser()" class="row">
  <div class="picked_products_list col-md-6 ">
    <p-fieldset legend="Pozycje zamówienia" [toggleable]="true">
      <table *ngIf="isBasketLinesEmpty()==false">
        <thead>
        <tr>
          <th>nazwa kosza</th>
          <th class="col_quantity">ilość</th>
          <th>usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let orderItems of orderItems">
          <td scope="row">{{orderItems.basket.basketName}}</td>
          <td><input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" min="0" [value]="orderItems.quantity" (change)="updateQuantity(orderItems,$event.target.value)"  [readonly]="!authenticationService.isAdmin() && !authenticationService.isBiuroUser()" ></td>
          <td class="col_delete"><i class="fa fa-trash" aria-hidden="true" (click)="deleteProductLine(orderItems.basket.basketId)"></i></td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="isBasketLinesEmpty()==true">Brak pozycji w zamówieniu</p>
    </p-fieldset>
  </div>



<div #basketsummary class="basket_summary col-md-6">
  <p-fieldset legend="Podsumowanie koszyka" [toggleable]="true">
    <div class="row">
      <div class="col-lg-5">
        <p class="tot">Kwota zamówienia: {{total/100| number : '1.2-2'}} zł</p>
     </div>
    </div>
  </p-fieldset>
</div>
</div>


  <div *ngIf="authenticationService.isAdmin() || authenticationService.isBiuroUser()" class="basketList">
    <p-fieldset legend="Dodaj kosz do zamówienia" [toggleable]="true">

      <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">
      </div>

      <p-dataTable [value]="baskets" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
                   [loading]="loading" loadingIcon="fa-circle-o-notch" expandableRows="true" (onRowDblclick)="addBasketToOrder($event.data)" (onContextMenuSelect)="contextMenuSelected($event)"   [contextMenu]="cm">
        <p-column expander="true" header="Zawartość" styleClass="col-icon" [style]="{'width':'70px'}"></p-column>
        <p-column  header="lp."  [style]="{'width':'70px'}">
          <ng-template let-i="rowIndex" pTemplate="rowexpansion">
            {{i+1}}
          </ng-template>
        </p-column>
        <p-column field="basketName" header="Nazwa kosza" [sortable]="true"></p-column>
        <p-column field="basketType.basketTypeName" header="Typ kosza" [sortable]="true" ></p-column>
        <p-column field="basketTotalPrice"  header="Cena kosza "  [sortable]="true" >
          <ng-template let-row="rowData" pTemplate="body">
            {{row.basketTotalPrice/100| number : '1.2-2'}} zł.
          </ng-template>

        </p-column>
        <p-column field="season" header="Sezon" [sortable]="true" ></p-column>
        <ng-template let-basket pTemplate="rowexpansion">
          <div class="basket_products_info">
            Zawartość kosza:  {{basket.basketName}}
            <table class="product_tab" >
              <thead>
              <tr class="product_tab_row">
                <th>Nazwa Produktu</th>
                <th>Pojemność</th>
                <th>Cena zakupu</th>
                <th>Ilość</th>
              </tr>
              </thead>
              <tbody>
              <tr class="product_tab_row" *ngFor="let i of basket.basketItems">
                <td>{{i.product.productName}}</td>
                <td>{{i.product.capacity}}</td>
                <td>{{i.product.price/100}} zł</td>
                <td>{{i.quantity}} szt.</td>
              </tr>
              </tbody>
            </table>

          </div>

        </ng-template>

      </p-dataTable>
    </p-fieldset>
  </div>

<div *ngIf="authenticationService.isAdmin() || authenticationService.isBiuroUser()" >

  <p-fieldset legend="Lista Edycji zamówienia" [toggleable]="true"  [collapsed]="true">


    <p-dataTable [value]="auditList" [rows]="20" [paginator]="true"
                 [loading]="loading" loadingIcon="fa-circle-o-notch">
      <p-column  header="lp."  [style]="{'width':'70px'}">
        <ng-template let-i="rowIndex" pTemplate="rowexpansion">
          {{i+1}}
        </ng-template>
      </p-column>
      <p-column field="changeDate" header="Data zmiany" [sortable]="true">
        <ng-template let-row="rowData" pTemplate="body"  >
          {{row.changeDate| date: 'dd/MM/yyyy HH:mm:ss'}}
        </ng-template>
      </p-column>
      <p-column field="userName" header="Użytkownik"  ></p-column>


    </p-dataTable>



  </p-fieldset>


</div>



<p-confirmDialog header="Usuwanie pliku" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<p-contextMenu  #cm [model]="items"> </p-contextMenu>