<div class="customer_data_form col-md-6">
    <p-panel header="Dodaj klienta">


        <form id="CustomerForm" novalidate #form="ngForm">
        <div class="form-group">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="name" #name="ngModel" class="form-control"  size="300" aria-describedby="nameDesc"   [(ngModel)]="customer.name"  required >
                        <span class="input-group-addon" id="nameDesc">Imię i Nazwisko </span>
                    </div>
                    <ul class="text-danger list-unstyled" *ngIf="name.dirty|| formSubmitted">
                        <li  *ngIf="name.errors?.required">To pole nie może być puste</li>
                    </ul>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="organization" #organization="ngModel" class="form-control"  size="300" aria-describedby="organizationDesc"   [(ngModel)]="customer.organizationName">
                        <span class="input-group-addon" id="organizationDesc">Nazwa Firmy</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="address" #address="ngModel" class="form-control"  size="300" aria-describedby="streetDesc"  [(ngModel)]="customerAddress.address" required>
                        <span class="input-group-addon" id="streetDesc">Ulica / nr. lokalu</span>
                    </div>
                    <ul class="text-danger list-unstyled" *ngIf="address.dirty|| formSubmitted">
                        <li  *ngIf="address.errors?.required">To pole nie może być puste</li>
                    </ul>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" #someVar name="zip_code" #zip_code="ngModel" class="form-control"  size="300" aria-describedby="zip_codeDesc" (keyup)="ZipCodeUtil($event.target.value)"
                               [(ngModel)]="customerAddress.zipCode" required pattern="\d{2}-\d{3}">
                        <span class="input-group-addon" id="zip_codeDesc">Kod pocztowy</span>
                    </div>
                    <ul class="text-danger list-unstyled" *ngIf="zip_code.dirty|| formSubmitted">
                        <li  *ngIf="zip_code.errors?.pattern">Kod musi być w formacie xx-xxx </li>
                        <li  *ngIf="zip_code.errors?.required">To pole nie może być puste</li>
                    </ul>

                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="city_name" #city_name="ngModel" class="form-control"  size="300" aria-describedby="city_nameDesc"  [(ngModel)]="customerAddress.cityName" required >
                        <span class="input-group-addon" id="city_nameDesc">Miejscowość</span>
                    </div>
                    <ul class="text-danger list-unstyled" *ngIf="city_name.dirty|| formSubmitted">
                        <li  *ngIf="city_name.errors?.required">To pole nie może być puste</li>
                    </ul>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="email" name="email" class="form-control"  size="300" aria-describedby="emailDesc"  [(ngModel)]="customer.email">
                        <span class="input-group-addon" id="emailDesc">Email</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="tel" #tel="ngModel" class="form-control"  size="300" aria-describedby="telDesc"  [(ngModel)]="customer.phoneNumber" required>
                        <span class="input-group-addon" id="telDesc">Telefon</span>
                    </div>
                    <ul class="text-danger list-unstyled" *ngIf="tel.dirty|| formSubmitted">
                        <li  *ngIf="tel.errors?.required">To pole nie może być puste</li>
                    </ul>
                </div>
        </div>

            <button class="btn bg-primary" type="submit" form="CustomerForm" (click)="submitOrderForm(form)" > Dodaj</button>
            <button class="btn bg-primary " (click)="cancelCreateCustomer()"  >Anuluj </button>
        </form>
    </p-panel>
</div>

<p-dialog header="Wybierz Miasto:" closeOnEscape="false" modal="true" width="400" [(visible)]="pickCityByZipCode"  (onHide)="clearOnCloseDialog()" >
    <div >

        <table class="city_tab" >
            <thead>

            </thead>
            <tbody>
            <tr class="city_tab_row" *ngFor="let city of tmpCityList">
                <td (click)="selectCity(city)" class="citySelect">{{city}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</p-dialog>

