.basketList {
    padding-top: 10px;
}

.product_tab_row {
    text-align: left;
}

i {
    margin-right: 5px;
}

.onlyDeleted {
    margin-left: 10px;
}

.dd {
    max-width: 500px;
}

.refresh_icon {
    position: absolute;
    right: 5px;
    top: 1px;
}

.centered {
    position: fixed !important;
    top: 50% !important;
    left: 55% !important;
}

.d-table-wrapper {
    width: 900px !important;
}

.pric {
    padding: 20px;
}

.bic {
    padding: 20px;
}

.btnclic {
    margin: 30px 20px 20px 0px;

}

.type_picker {
    width: 400px;
}

.type_picker_list {
    margin-left: 30px;
}

.inr {
    padding-left: 10px;
}

.span_gap {
    padding-right: 20px;
}
