.basketList{
    padding-top: 10px;
}

.product_tab_row {
    text-align: left;
}


i{
    margin-right: 5px;
}
.onlyDeleted {
     margin-left: 10px;
 }
.dd{
    max-width: 500px;
}

.refresh_icon{
    position: absolute;
    right: 5px;
    top: 1px;
}

.centered {
    position: fixed !important;
    top: 50%!important;
    left: 55%!important;
}

.d-table-wrapper{
    width: 700px !important;
}

