
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 280px;
    height: 240px;
    background-color: lightgoldenrodyellow;
    margin-left: 20px;
    margin-bottom: 20px;
}

.edit_icon {
    position: absolute;
    right: 37px;
    top: 7px;

}

.del_icon {
    position: absolute;
    right: 7px;
    top: 7px;

}

.dot_icon {
    position: absolute;
    right: 18px;
    top: 150px;
}

.prior_icon {
    position: absolute;
    left: 7px;
    top: 7px;
}

.line2 {
    margin-bottom: 8px;

}

.add_line {
    margin: -4px;
}

.add_inf {
    width: 210px;
    position: absolute;
    top: 164px;
    color: steelblue;
}

.note_content {
    height: 130px;
    overflow: auto;
    margin-top: 35px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.add2 {
    color: #5d6468;
}

.add_note_icon {
    position: absolute;
    right: 30px;
    top: 70px;
}

.card_container {
    margin-top: 55px;
}

button {
    margin-right: 20px;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sort_box {
    margin-left: 28px;

}

.ser_icon {
    margin-left: 10px;
}