<div class="products_box">

        <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">

              <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
        </div>

    <p-dataTable [value]="products" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt
                 [loading]="loading" loadingIcon="fa-circle-o-notch">
        <p-header>Lista Produktów</p-header>
        <p-column field="id" header="ID" [sortable]="true" [style]="{'width':'70px'}"></p-column>
        <p-column field="productName" header="Nazwa" [sortable]="true"></p-column>
        <p-column field="productType.typeName" header="Rodzaj"  [sortable]="true" ></p-column>
        <p-column field="capacity" header="Pojemność" [sortable]="true"></p-column>

        <p-column field="price" styleClass="price_col" header="Cena"  [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
                {{row.price}} zł
            </ng-template>
        </p-column>

        <p-column field="quantity" styleClass="quantity_col" header="Stan"  [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.quantity}} szt.
            </ng-template>

        </p-column>

        <p-column  header="Akcja" styleClass="action_col">
            <ng-template let-product="rowData" pTemplate="body">
                <button class="btn btn-primary" type="button" pButton [routerLink]="['/product/', product.id]" >Edytuj</button>
            </ng-template>
        </p-column>

    </p-dataTable>
</div>