<div class="products_box">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Szukaj">
        <i class="fa fa-refresh pull-right" aria-hidden="true" (click)="refreshData()"></i>
    </div>

    <p-dataTable [value]="products" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt resizableColumns="true" columnResizeMode="expand"
                 [loading]="loading" loadingIcon="fa-circle-o-notch">
        <p-header>Lista Produktów</p-header>
        <p-column field="id" header="ID" [sortable]="true"></p-column>
        <p-column field="productName" header="Nazwa" [sortable]="true"></p-column>
        <p-column field="productType.typeName" header="Rodzaj"  [sortable]="true" ></p-column>
        <p-column field="capacity" header="Pojemność" [sortable]="true"></p-column>
        <p-column field="price" header="Cena"  [sortable]="true" ></p-column>
        <p-column field="quantity" header="Stan"  [sortable]="true" ></p-column>

    </p-dataTable>
</div>