<p-panel [header]="'Edytowanie kosza: ' + basket.basketName ">
    <div class="row">
        <div class="basket_summary col-xl-4">
            <p-fieldset legend="Zawartość kosza" [toggleable]="true">
                <div class="d-table-wrapper">
                    <!--<table class="d-table" *ngIf="isProductLinesEmpty()==false">-->
                        <!--<colgroup>-->
                            <!--<col span="1" style="width: 70%;">-->
                            <!--<col span="1" style="width: 25%;">-->
                            <!--<col span="1" style="width: 5%;">-->

                        <!--</colgroup>-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Nazwa</th>-->
                            <!--<th class="col_quantity">Ilość</th>-->
                            <!--<th>Usuń</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr *ngFor="let basketItems of basketItems">-->
                            <!--<td scope="row">{{basketItems.product.productName}}</td>-->
                            <!--<td><input type="number" class="form-control" name="" id="" aria-describedby="helpId"-->
                                       <!--placeholder="" min="0"-->
                                       <!--[value]="basketItems.quantity"-->
                                       <!--(change)="updateQuantity(basketItems,$event.target.value)"></td>-->
                            <!--<td class="col_delete"><i class="fa fa-trash" aria-hidden="true"-->
                                                      <!--(click)="deleteProductLine(basketItems.product.id)"></i></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                    <p-orderList [value]="basketItems"  dragdrop="true" dragdropScope="basketItems" controlsPosition="left"
                                 [listStyle]="{'height':'400px', 'max-width':'900px', 'margin-left':'20px'}" >


                        <ng-template let-items let-i="index" pTemplate="item">

                            <div class="ui-helper-clearfix">

                                <div style="font-size:14px;float:left;margin:15px 5px 0 0;width:20px">
                                    {{i+1}}
                                </div>


                                <div
                                        style="font-size:14px;float:left;margin:15px 5px 0 0;width:160px">{{items.product
                                    .productName}}
                                </div>
                                <div
                                        style="font-size:14px;float:left;margin:15px 5px 0 0;width:160px">{{items.product
                                    .productCatalogName}}
                                </div>
                                <div style="font-size:14px;float:left;margin:9px 5px 0 0;width:65px">
                                    <input type="number" class="form-control" name="" aria-describedby="helpId"
                                           placeholder="" min="0" [value]="items.quantity"
                                           (change)="updateQuantity(items,$event.target.value)">
                                </div>
                                <div style="font-size:14px;float:left;margin:15px 5px 0 15px;width:10px">
                                    <i class="fa fa-trash" aria-hidden="true"
                                       (click)="deleteProductLine(items.product.id)"></i>
                                </div>

                            </div>


                        </ng-template>


                    </p-orderList>


                    <p *ngIf="isProductLinesEmpty()==true"> Kosz jest pusty</p>
                </div>
            </p-fieldset>
        </div>

        <div class="basket_summary col-xl-8">
            <p-fieldset legend="Podsumowanie kosza" [toggleable]="true">
                <div class="row">
                    <div class="col-xl-5">
                        <p>Cena Netto Produktów: {{total/100| number : '1.2-2'}} zł</p>

                        <p-panel class="panel_image" [header]="'Zdjęcie kosza'">


                            <div *ngIf="basket.isBasketImg== 1" class="imgcontener">
                                <img [src]="basketImege" [width]="200" [height]="200">
                            </div>

                            <div *ngIf="basket.isBasketImg== 0">Brak zdjęcia kosza</div>

                        </p-panel>

                    </div>

                    <div class="col-xl-7">
                        <form id="BasketForm" novalidate #form="ngForm" (submit)="submitForm(form)">


                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="price" class="form-control" #price="ngModel"
                                           aria-describedby="priceDesc" [(ngModel)]="basket.basketTotalPrice"
                                           pattern="^(?=.*?\d)\d*[.]?\d{1,2}$" required>
                                    <span class="input-group-addon" id="priceDesc">Cena kosza</span>
                                </div>
                                <ul class="text-danger list-unstyled" *ngIf="price.dirty|| formSubmitted">
                                    <li *ngIf="price.errors?.pattern">To pole musi zawierać format waluty z kropką np :
                                        0.59 , 2.5 , 0.99 , 19.99
                                    </li>
                                    <li *ngIf="price.errors?.required">To pole nie może być puste</li>
                                </ul>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="basketName" #basketName="ngModel" class="form-control"
                                           size="300" aria-describedby="nameDesc" [(ngModel)]="basket.basketName"
                                           required>
                                    <span class="input-group-addon" id="nameDesc">Nazwa kosza</span>
                                </div>
                                <ul class="text-danger list-unstyled" *ngIf="basketName.dirty|| formSubmitted">
                                    <li *ngIf="basketName.errors?.required">To pole nie może być puste</li>
                                </ul>
                            </div>



                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="basketImg" #basketImg="ngModel" class="form-control"
                                           size="300" aria-describedby="imgDesc" [(ngModel)]="basket.imgNumber">
                                    <span class="input-group-addon" id="imgDesc">Numer zdjecia</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <small id="product_typeDesc" class="text-muted">Sezon</small>


                                <p-listbox name="type_list" [style]="{ 'width':'400px'}"
                                           [listStyle]="{'max-height':'100px', 'width':'390px'}"
                                           [options]="basketSeasonSelectItemList"
                                           [(ngModel)]="basket.basketSezon" [filter]="true">


                                </p-listbox>

                            </div>


                            <div class="form-group">
                                <small id="basket_typeDesc" class="text-muted">Typ kosza</small>
                                <select [compareWith]="compareBasketType" class="form-control" #basket_type="ngModel"
                                        name="basket_type" [(ngModel)]="basket.basketType" required="">
                                    <option *ngFor="let item of basketTypes" [ngValue]="item"
                                            aria-describedby="basketTypeDesc">{{item.basketTypeName}}
                                    </option>
                                </select>
                                <ul class="text-danger list-unstyled" *ngIf="basket_type.dirty|| formSubmitted">
                                    <li *ngIf="basket_type.errors?.required">Wybierz typ koszyka</li>
                                </ul>
                            </div>


                            <div class="form-group">
                                <small id="add_file" class="text-muted">Wgraj zdjęcie kosza</small>
                                <p-fileUpload name="files" accept=".jpg"
                                              invalidFileTypeMessageSummary="Niedozwolony typ pliku"
                                              invalidFileTypeMessageDetail="Dozwolone sa tylko pliki .jpg"
                                              maxFileSize="250000" [showUploadButton]="false"
                                              (onRemove)="enableUploadButton();setWheterImgIsSet()"
                                              (onError)="enableUploadButton();setWheterImgIsSet()"
                                              (onClear)="enableUploadButton();setWheterImgIsSet()"
                                              invalidFileSizeMessageSummary="{0} - plik jest za duży"
                                              invalidFileSizeMessageDetail="rozmiar pliku może wynosić maksymalnie {0}"
                                              [chooseLabel]="basket.isBasketImg ==0 ? 'Wybierz zdjęcie' : 'Zmień zdjęcie'"
                                              uploadLabel="Wgraj" cancelLabel="Anuluj"
                                              (onSelect)="handleFileInput($event)">


                                </p-fileUpload>
                            </div>


                            <div *ngIf="this.fileUploadElement.files.length !=1 && formSubmitted
                                        && this.basket.basketType?.basketTypeId == 1"
                                 class="alert alert-danger" role="alert">
                                <strong>Wgraj plik </strong>
                            </div>


                            <div *ngIf="basketItems.length<1 && formSubmitted" class="alert alert-danger" role="alert">
                                <strong>Błąd. Zawartość kosza nie może być pusta</strong>
                            </div>

                            <button class="btn bg-primary pull-right" type="submit" form="BasketForm"> Zapisz Kosz
                            </button>
                        </form>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</p-panel>

<div class="products_box">
    <p-fieldset legend="Lista produktów możliwych do dodania" [toggleable]="true">
        <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"
                   aria-describedby="basic-addon1">

            <label class="form-check-label only_available_product_checkbox">
                <input class="form-check-input" #availablecheck name="only_available_product_checkbox" type="checkbox"
                       (change)="filtrOnlyAvaileble($event)"> pokaż tylko
                dostępne produkty
            </label>


        </div>
        <p-dataTable [value]="products" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
                     [loading]="loading" loadingIcon="fa-circle-o-notch"
                     (onRowDblclick)="addProductToGiftBasket($event.data)" [lazy]="true"
                     (onLazyLoad)="loadProductsLazy($event)"
                     [totalRecords]="totalRecords" >
            <p-column field="id" header="ID" [sortable]="true" [style]="{'width':'70px'}"></p-column>
            <p-column field="productName" header="Nazwa" [sortable]="true"></p-column>
            <p-column field="productCatalogName" header="Nazwa katalogowa" [sortable]="true"></p-column>
            <p-column field="productSeason.productSeasonName" header="Sezon produktu" [sortable]="true"></p-column>
            <p-column field="capacity" header="Pojemność" [sortable]="true" [style]="{'width':'120px'}"></p-column>


            <p-column field="suppliers" header="Dostawca" [filter]="true" filterMatchMode="inCollection"
                      [style]="{'width':'220px'}">
                <ng-template pTemplate="filter" let-col>
                    <p-dropdown [filter]="true" [options]="suppliers" placeholder="Wszyscy" [style]="{'width':'100%'}"
                                (onChange)="dataTable.filter($event.value,col.field,col.filterMatchMode)"
                                styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template let-item="rowData" pTemplate="body">
                    <tr *ngFor="let supplier of item.suppliers"> {{supplier.supplierName}}</tr>
                </ng-template>
            </p-column>

            <p-column field="productSubType.subTypeName" styleClass="type_col" [filter]="true" header="Typ produktu"
                      [style]="{'width':'220px'}" filterMatchMode="equals" [sortable]="true" [excludeGlobalFilter]="true" >
                <ng-template let-col pTemplate="filter">
                    <p-multiSelect [filter]="true" [resetFilterOnHide]="true" [showToggleAll]="true"
                                   [options]="productsType"
                                   defaultLabel="Wszystkie"
                                   (onChange)="dataTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                </ng-template>

                <ng-template let-row="rowData" pTemplate="body">
                    <span> {{ row.productSubType?.subTypeName}} ({{row.productSubType?.productType?.typeName}}) </span>
                </ng-template>
            </p-column>


            <p-column field="price" styleClass="price_col" header="Cena" [sortable]="true">
                <ng-template let-row="rowData" pTemplate="body">
                    {{row.price/100| number : '1.2-2'}} zł
                </ng-template>
            </p-column>

            <p-column field="stock" styleClass="stock_col" header="Stan" [sortable]="true">
                <ng-template let-row="rowData" pTemplate="body">
                    {{row.stock}} szt.
                </ng-template>

            </p-column>

        </p-dataTable>
    </p-fieldset>
</div>
