.basketList{
    padding-top: 10px;
}
.basket_products_info{
    padding: 10px;
}


.status_col{
    color: red;
}

.btn{
    margin: 20px;
}

.onlyWithAttach {
    margin-left: 10px;
}
.quantity_col{
    width: 120px;
    text-align: center;
}

.fa {
    margin-right: 4px;
}

.famargin2 {
    margin-right: 10px;
}

.fa_zero_margin{
    margin-right:  0px;
}


.fileprev{
    font-size: 16px;
}

.fileprev:hover{
    cursor: pointer;

}

.ui-overlaypanel-content {
    width: 400px;
}



.ui-datatable .ui-datatable-loading-content{
    position: fixed;
    top: 50%;
    left: 55%;
}

.ui-datatable td{
   overflow-x:hidden;
}

.action_extention {

    border: black 2px;
    background-color:#d6f2c2;
    position: absolute;
    z-index: 99;
    height: 45px;
    width: 195px;
    padding-top: 10px;
    padding-left: 10px;

}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.action_extention_icon:hover {
    color:rgba(18,10,20,0.2);
}

.not_allowed:hover{
    cursor: not-allowed;
}


.d-table-wrapper{
    width: 1000px ;
    position: relative;
}

.change-state-btn{
    position: absolute;
    top: 0px;
    left: 1050px;
    margin: 0px;
}
.excel-export{
    position: absolute;
    right: 6px;
    top: 12px;
}

.basket_name{
    color: blue;
}

.edit-state-input{
    width: 70px;
    height: 30px;
    margin-left: 20px;
    text-align: center;
}

.edit-state-input-btn{
    margin: 0;
    margin-left: 70px;
}









