<div class="products_box">

    <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1" [(ngModel)]="findInputtextOrder">

        <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
    </div>

    <p-dataTable [value]="orders" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt
                 [loading]="loading" loadingIcon="fa-circle-o-notch" expandableRows="true" [first]="lastVisitedPageOrder">
        <p-header>Lista Zamówień</p-header>
        <p-column expander="true" header="Zawartość" styleClass="col-icon " [style]="{'width':'70px'}"></p-column>
        <p-column  header="lp."   [style]="{'width':'70px'}">
            <ng-template let-i="rowIndex" pTemplate="rowexpansion">
                {{i+1}}
            </ng-template>
        </p-column>
        <p-column field="orderFvNumber" header="Numer FV" [sortable]="true" ></p-column>
        <p-column field="orderDate" header="Data zamówienia" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
                {{row.orderDate| date: 'dd/MM/yyyy HH:mm:ss'}}
            </ng-template>
        </p-column>


        <p-column *ngIf="!isCurrentPageCustomerEdit" field="customer.customerName" header="Nabywca" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
                {{row.customer.name}} {{row.customer.organizationName}}
            </ng-template>
        </p-column>

        <!--Hide columns, only to global search purpose-->
        <p-column field="customer.name" header=""  hidden="true"></p-column>
        <p-column field="customer.organizationName" header=""  hidden="true"></p-column>



        <p-column field="additionalInformation" header="Dodatkowe informacje" ></p-column>
        <p-column field="deliveryDate" header="Data dostawy" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
            {{row.deliveryDate| date: 'dd/MM/yyyy'}}
            </ng-template>
        </p-column>
        <p-column field="orderTotalAmount" header="total" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body"  >
                {{row.orderTotalAmount/100 | number : '1.2-2'}} zł
            </ng-template>
        </p-column>
        <p-column field="orderStatus.orderStatusName" header="Status" ></p-column>
        <p-column field="deliveryType.deliveryTypeName" header="Rodzaj dostawy" ></p-column>
        <p-column  field="orders" header="Akcja" styleClass="action_col">
            <ng-template let-order="rowData" let-i="rowIndex" pTemplate="body">
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"  title="Edytuj zamówienie" (click)="goToEditPage(i+1,order.orderId)"></i>
                <i *ngIf="authenticationService.isAdmin()" class="fa fa-trash fa-2x edit_icon" aria-hidden="true" title="Usuń zamówienie" (click)="ShowConfirmModal(order)"></i>
                <i class="fa fa-print fa-2x " aria-hidden="true" title="Drukuj zamówienie" (click)="printPdf(order.orderId)" ></i>
                <i class="fa fa-print fa-2x " aria-hidden="true" title="Drukuj potwierdzenie odbioru" (click)="printConfirmationPdf(order.orderId)" ></i>

            </ng-template>
        </p-column>


        <ng-template let-orders pTemplate="rowexpansion">
            <div class="basket_products_info">
                <p>Pozycje zamówienia</p>
                <table class="product_tab" >
                    <thead>
                    <tr class="product_tab_row">
                        <th>Nazwa kosza</th>
                        <th>illość</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="product_tab_row" *ngFor="let i of orders.orderItems">
                        <td>{{i.basket.basketName}}</td>
                        <td>{{i.quantity}}</td>

                    </tr>
                    </tbody>
                </table>

            </div>

        </ng-template>


    </p-dataTable>
</div>
<p-confirmDialog header="Usuwanie produktu" icon="fa fa-question-circle" width="425"></p-confirmDialog>