.basketList{
    padding-top: 10px;
}
.basket_products_info{
    padding: 10px;
}
.product_tab{
    width: 65% !important;
    border: 1px solid black;
}
.product_tab th ,td,tr{

}
.product_tab th{
    background-color: #ebedf0;
    text-align: left;

}


.product_tab_row {
    text-align: left;
}
.action_col{
    width: 170px;
    max-height: 40px;
}
.status_col{
    color: red;
}

.attach_col{
    width: 38px;
}

.onlyWithAttach {
    margin-left: 10px;
}
.quantity_col{
    width: 120px;
    text-align: center;
}
.btn {
    margin: 20px;
}
.fa {
    margin-right: 4px;
}

.ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
    background-color: #d6f2c2 !important;
    color: black;
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-even:hover {
    background-color: #d6f2c2;
    cursor: pointer;
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-odd:hover {
    cursor: pointer;
    background-color:#d6f2c2;
}
.fileprev{
    font-size: 16px;
}

.fileprev:hover{
    cursor: pointer;

}

.ui-overlaypanel-content{
    width: 400px;
}