<p-fieldset legend="Lista Koszy Eksportowych" [toggleable]="true">
    <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        <input #gb type="text" class="dd form-control search_input" pInputText size="50" placeholder="Szukaj"
               aria-describedby="basic-addon1">

        <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
    </div>

    <p-dataTable [value]="baskets" [rows]="50" [paginator]="true" [globalFilter]="gb" #dt [editable]="true"
                 (onEditComplete)="updateBasketExtRow($event)"
                 [loading]="loading" loadingIcon="fa-circle-o-notch" expandableRows="true" [contextMenu]="cm"
                 (onContextMenuSelect)="contextMenuSelected($event)" [paginator]="true" [pageLinks]="5"
                 [rowsPerPageOptions]=paginatorValues>
        <p-column expander="true" header="Zawartość" styleClass="col-icon " [style]="{'width':'70px'}"></p-column>

        <p-column header="lp." [style]="{'width':'70px'}">
            <ng-template let-i="rowIndex" pTemplate="rowexpansion">
                {{i+1}}
            </ng-template>
        </p-column>


        <p-column field="basketName" header="Nazwa kosza" [sortable]="true" [editable]="true"></p-column>
        <p-column field="basketType.basketTypeName" header="Typ kosza" [sortable]="true"></p-column>


        <p-column field="isAlcoholic" header="Zawiera alkohol" [editable]="true">
            <ng-template let-col let-basket="rowData" pTemplate="editor">
                <p-dropdown (onChange)="updateBasketExtRow(basket)" [(ngModel)]="basket.isAlcoholic"
                            [options]="alcoholOptions" [autoWidth]="false" [style]="{'width':'100%'}" required="true"
                            appendTo="body"></p-dropdown>
            </ng-template>
            <ng-template let-row="rowData" pTemplate="body">
                <span *ngIf="row.isAlcoholic==1"> Z alkoholem</span>
                <span *ngIf="row.isAlcoholic==0">Bez alkoholu</span>
            </ng-template>
        </p-column>

        <p-column field="basketProductsPrice" header="Koszt złożenia" [editable]="true" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.basketProductsPrice /100| number : '1.2-2'}} zł.
            </ng-template>
        </p-column>

        <!--<p-column field="season" header="Sezon" [sortable]="true" ></p-column>-->
        <p-column field="basketTotalPrice" header="Cena dla agencji" [editable]="true" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.basketTotalPrice| number : '1.2-2'}} zł.
            </ng-template>
        </p-column>

        <p-column field="isAvailable" header="Dostępność" [sortable]="true"
                  [style]="{'width':'70px', 'text-align':'center'}">
            <ng-template let-row="rowData" pTemplate="body">
                <img *ngIf="row.isAvailable == 1" class="state_img" src="/assets/images/yes.png" height="30" width="30">
                <img *ngIf="row.isAvailable == 0" class="state_img" src="/assets/images/no.png" height="30" width="30">

            </ng-template>
        </p-column>

        <p-column header="Akcja" [style]="{'width':'50px','text-align':'center'}">
            <ng-template let-basket="rowData" pTemplate="body">
                <i *ngIf="authenticationService.isAdmin()" class="fa fa-trash fa-2x edit_icon" aria-hidden="true"
                   title="Usuń kosz" (click)="ShowConfirmModal(basket)"></i>
            </ng-template>
        </p-column>

        <ng-template let-basket pTemplate="rowexpansion">
            <div class="basket_products_info">
                Zawartość kosza: {{basket.basketName}}
                <table class="product_tab">
                    <thead>
                    <tr class="product_tab_row">
                        <th>Nazwa Produktu</th>
                        <th>Pojemność</th>
                        <th>Cena zakupu</th>
                        <th>Ilość</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="product_tab_row" *ngFor="let i of basket.basketItems">
                        <td>{{i.product.productName}}</td>
                        <td>{{i.product.capacity}}</td>
                        <td>{{i.product.price/100| number : '1.2-2'}} zł</td>
                        <td>{{i.quantity}} szt.</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </ng-template>

    </p-dataTable>
</p-fieldset>

<p-contextMenu #cm [model]="items"></p-contextMenu>
<p-confirmDialog header="Usuwanie kosza" icon="fa fa-question-circle" width="425"></p-confirmDialog>
