#top_nav{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
   background-image:  url("/assets/images/top_nav_background.png") ;
    z-index: 997;
    box-shadow: 3px 3px 5px #888888;
}
p{
    font-size: 30px;
    padding-left: 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.slide_nav{
    position: absolute;
    left: 175px;
    top: 10px;
    transition: 0.5s;
    color: #363a41;
}
.basket_img{
    z-index: 9999;
    position: absolute;
    right: 15px;
    top: 2px;
}


.notification {

    color: white;
    text-decoration: none;

    position: absolute;
    right: 80px;
    top: 8px;
    display: inline-block;
    border-radius: 2px;
    z-index: 9999;
}

.notification:hover {

}


.notification .badge {
    visibility: hidden;
     position: absolute;
     top: 0px;
     right: -10px;
     padding: 4px 11px;
     border-radius: 50%;
     background:#f80943;
     color: white;
     font-size: 13px;
 }

.notification .badge1 {
    position: absolute;
    top: 0px;
    right: -10px;
    padding: 4px 11px;
    border-radius: 50%;
    background:#f80943;
    color: white;
    font-size: 13px;
}





.notification .badge2 {
    position: absolute;
    top: 0px;
    right: -10px;
    padding: 5px 7px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 13px;
}

.ica {
    color: black;
}

.ica:hover {
    color: blue;
}


