
<div  class="products_box">
  <div class="input-group search_bar">
    <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
    <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1" >

    <i class="fa fa-refresh pull-right refresh_icon fa-2x" aria-hidden="true" (click)="refreshData()"></i>
  </div>

  <p-dataTable [value]="orders" [rows]="50" [paginator]="true" [globalFilter]="gb" #dt
               [loading]="loading" loadingIcon="fa-circle-o-notch" [contextMenu]="cm"  [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]= paginatorValues
               (onRowDblclick)="showOrderPreview($event)"
               (onRowClick)="getOrderFromRow($event)"
              (onContextMenuSelect)="OnSelectRow($event)">
    <p-header>Zamówienia</p-header>


    <p-column  header="lp."   [style]="{'width':'50px','text-align': 'center'}">
      <ng-template let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">
        {{i+1}}
      </ng-template>
    </p-column>



    <p-column field="orderDate" styleClass="name_col" header="Data zamówienia" [sortable]="true" [style]="{'width':'150px'}">
      <ng-template let-row="rowData" pTemplate="body"  >
        {{row.orderDate| date: 'dd/MM/yyyy HH:mm'}}
      </ng-template>

    </p-column>
    <p-column field="user.login" styleClass="name_col" header="Login" [sortable]="true" [style]="{'width':'180px'}"></p-column>
    <p-column field="user.email" styleClass="name_col" header="Email" [sortable]="true"></p-column>
    <p-column field="address" styleClass="name_col" header="Adres" [sortable]="true"></p-column>

    <p-column field="prizeOrderStatus.orderStatusName" styleClass="name_col" header="Status" [sortable]="true" [style]="{'width':'100px'}"></p-column>


    <p-column field="orderTotalAmount" styleClass="name_col" header="Punkty" [sortable]="true" [style]="{'width':'100px'}">
      <ng-template let-row="rowData" pTemplate="body"  >
        {{row.orderTotalAmount}} pkt.
      </ng-template>
    </p-column>
    <!--<p-column  header="Akcja" styleClass="action_col">-->
      <!--<ng-template let-product="rowData" pTemplate="body" let-row="rowData" let-i="rowIndex" pTemplate="rowexpansion">-->
        <!--&lt;!&ndash;<i *ngIf="authenticationService.isAdmin()" class="fa fa-pencil-square-o fa-2x" aria-hidden="true"  title="Edytuj produkt" (click)=""></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<i *ngIf="authenticationService.isAdmin()" class="fa fa-trash fa-2x edit_icon" aria-hidden="true" title="Usuń produkt"  (click)=""></i>&ndash;&gt;-->
      <!--</ng-template>-->
    <!--</p-column>-->


  </p-dataTable>

</div>


<p-dialog *ngIf="isOrderToShowFetchComplete | async" header="Podgląd Zamówienia" closeOnEscape="false" modal="true" width="1000" [(visible)]="showOrderPreviewModal"  >


  <p-panel header="Zamówienie">
    <div class="row">
      <div class="col-md-6">





        <div class="form-group">
          <small id="fv_numbereDescript" class="text-muted">Login</small>
          <input type="text" name="fv_number" #fv_number="ngModel" class="form-control" [readonly]="true"
                 aria-describedby="delivery_dateDesc" [(ngModel)]="selectedToPrintOrder?.user.login">
        </div>

        <div class="form-group">
          <small id="email" class="text-muted">Email</small>
          <input type="text" name="fv_number" #fv_number="ngModel" class="form-control" [readonly]="true"
                 aria-describedby="delivery_dateDesc" [(ngModel)]="selectedToPrintOrder?.user.email">
        </div>


        <div class="form-group">
          <div class="form-group">
            <small id="order_date_Desc" class="text-muted">Data złożenia zamówienia</small>
            <input name="order_date" class="form-control" size="300" aria-describedby="order_date_Desc"
                   [readonly]="true" [value]="selectedToPrintOrder.orderDate| date: 'dd/MM/yyyy HH:mm:ss'">
          </div>
        </div>


        <div class="form-group">
          <small id="statusDesc" class="text-muted">Status zamówienia</small>
          <input type="text" class="form-control" [(ngModel)]="selectedToPrintOrder.prizeOrderStatus.orderStatusName"
                 name="status" [readonly]="true">

        </div>


        <div class="form-group">
          <small id="total_Desc" class="text-muted">Wartość zamówienia w punktach</small>
          <input type="text" name="total" class="form-control" size="300" aria-describedby="total_Desc"
                 [readonly]="true" [(ngModel)]="selectedToPrintOrder.orderTotalAmount">
        </div>







        <p-panel header="Wybrane nagrody">
          <table>
            <thead>
            <tr>
              <th>Nazwa nagrody</th>
              <th class="col_quantity">Ilość</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderItems of selectedToPrintOrder.prizeOrderItems">
              <td scope="row">{{orderItems.prize.name}}</td>
              <td><input type="number" class="form-control" name="" id="" aria-describedby="helpId"
                         placeholder="" min="0" [value]="orderItems.quantity" [readonly]="true"></td>
            </tr>
            </tbody>
          </table>
        </p-panel>



      </div>
    </div>
  </p-panel>

</p-dialog>

<p-contextMenu #cm [model]="menuItems"> </p-contextMenu>



