.picked_products_list{
    width: 400px;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 10px;
}
.col_quantity{
    width: 85px;
}
.col_delete{
    text-align: center;
}
.basket_summary{
    padding-left: 20px;
    padding-top: 10px;
}