<!--<button (click)="gen()">click</button>-->
<!--<button (click)="click()">console</button>-->

<!--<p></p>-->
<!--<input #globalfilter type="text"  class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1" [(ngModel)]="findInputtextOrder">-->

<!--<p-dataTable [value]="orders" [rows]="20" [paginator]="true"  #dataTable-->
              <!--loadingIcon="fa-circle-o-notch"-->
              <!--selectionMode="multiple"   dataKey="orderId" [globalFilter]="globalfilter" >-->
    <!--<p-header>Lista Zamówień</p-header>-->
    <!--<p-column expander="true" header="" styleClass="col-icon " [style]="{'width':'40px'}"></p-column>-->
    <!--&lt;!&ndash;<p-column  header="lp."   [style]="{'width':'70px'}">&ndash;&gt;-->
    <!--&lt;!&ndash;<ng-template let-i="rowIndex" pTemplate="rowexpansion">&ndash;&gt;-->
    <!--&lt;!&ndash;{{i+1}}&ndash;&gt;-->
    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
    <!--&lt;!&ndash;</p-column>&ndash;&gt;-->
    <!--<p-column field="orderFvNumber" header="Numer FV" [sortable]="true" ></p-column>-->




    <!--<p-column field="orderDate" header="Data zamówienia" [sortable]="true" [filter]="!this.isCurrentPageCustomerEdit" filterMatchMode="equals">-->

        <!--<ng-template let-row="rowData" pTemplate="body"  >-->
            <!--{{row.orderDate| date: 'dd/MM/yyyy '}}-->
        <!--</ng-template>-->
    <!--</p-column>-->

    <!--<p-column field="deliveryDate" header="Data dostawy"  [sortable]="true">-->
        <!--<ng-template let-row="rowData" pTemplate="body"  >-->
            <!--{{row.deliveryDate| date: 'dd/MM/yyyy'}}-->
        <!--</ng-template>-->
    <!--</p-column>-->




    <!--&lt;!&ndash;Hide columns, only to global search purpose&ndash;&gt;-->
    <!--<p-column field="customer.name" header=""  hidden="true"></p-column>-->
    <!--<p-column field="customer.organizationName" header=""  hidden="true"></p-column>-->





    <!--<p-column field="deliveryDate" header="Data dostawy"  [sortable]="true">-->
        <!--<ng-template let-row="rowData" pTemplate="body"  >-->
            <!--{{row.deliveryDate| date: 'dd/MM/yyyy'}}-->
        <!--</ng-template>-->
    <!--</p-column>-->





    <!--<p-column field="deliveryType.deliveryTypeName" header="Rodzaj dostawy" ></p-column>-->







<!--</p-dataTable>-->