
<div class="order_summary col-12">
  <p-fieldset [legend]="'Szczegóły zamówienia nr '+ order.orderFvNumber" [toggleable]="true">
    <div class="row">
      <div class="customer_data_form col-md-6">
        <p-panel header="Dane osoby zamawiającej">

          <!--<button class="btn bg-primary text" (click)="op.show($event,popup_frame)">Wybierz klienta</button>-->
          <!--<button class="btn bg-primary text"  (click)="cleanForm(form,formAdidtional)">Wyczyść</button>-->

          <div class="form-group">
            <form id="OrderForm" novalidate #form="ngForm" >
              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="name"  #name="ngModel" class="form-control"  size="300" aria-describedby="nameDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()"  [(ngModel)]="customer.name" required >
                  <span class="input-group-addon" id="nameDesc">Imię i Nazwisko</span>
                </div>
                <ul class="text-danger list-unstyled" *ngIf="name.dirty|| formSubmitted">
                  <li  *ngIf="name.errors?.required">To pole nie może być puste</li>
                </ul>
              </div>


              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="organization" #organization="ngModel" class="form-control"  size="300" aria-describedby="organizationDesc"  [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="customer.organizationName">
                  <span class="input-group-addon" id="organizationDesc">Nazwa Firmy</span>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="address" #address="ngModel" class="form-control"  size="300" aria-describedby="streetDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="customer.address" >
                  <span class="input-group-addon" id="streetDesc">Ulica / nr. lokalu</span>
                </div>
                <ul class="text-danger list-unstyled" *ngIf="address.dirty|| formSubmitted">
                  <li  *ngIf="address.errors?.required">To pole nie może być puste</li>
                </ul>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="zip_code" #zip_code="ngModel" class="form-control"  size="300" aria-describedby="zip_codeDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="customer.zipCode" >
                  <span class="input-group-addon" id="zip_codeDesc">Kod pocztowy</span>
                </div>
                <ul class="text-danger list-unstyled" *ngIf="zip_code.dirty|| formSubmitted">
                  <li  *ngIf="zip_code.errors?.required">To pole nie może być puste</li>
                </ul>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="city_name" #city_name="ngModel" class="form-control"  size="300" aria-describedby="city_nameDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="customer.cityName">
                  <span class="input-group-addon" id="city_nameDesc">Miejscowość</span>
                </div>
                <ul class="text-danger list-unstyled" *ngIf="city_name.dirty|| formSubmitted">
                  <li  *ngIf="city_name.errors?.required">To pole nie może być puste</li>
                </ul>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input type="email" name="email" class="form-control"  size="300" aria-describedby="emailDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="customer.email">
                  <span class="input-group-addon" id="emailDesc">Email</span>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="tel" class="form-control"  size="300" aria-describedby="telDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="customer.phoneNumber" >
                  <span class="input-group-addon" id="telDesc">Telefon</span>
                </div>
              </div>
            </form>
          </div>
        </p-panel>
      </div>
      <div class="order_detail_form col-md-6">
        <p-panel header="Dodatkowe informacje">
          <form id="OrderFormAdditional" novalidate #formAdidtional="ngForm">



            <div class="form-group">
              <small id="fv_numbereDescript" class="text-muted">Numer FV</small>
              <input type="text" name="fv_number" #fv_number="ngModel"  class="form-control"  [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" aria-describedby="delivery_dateDesc" required [(ngModel)]="order.orderFvNumber">
              <ul class="text-danger list-unstyled" *ngIf="fv_number.dirty|| formSubmitted">
                <li  *ngIf="fv_number.errors?.required">Wprowadz numer FV</li>
              </ul>
            </div>



            <div class="form-group">
              <div class="form-group">
                <small id="order_date_Desc" class="text-muted">Data złożenia zamówienia</small>
                <input type="text" name="order_date" class="form-control"  size="300" aria-describedby="order_date_Desc" [readonly]="isFormReadOnly()" [value]="order.orderDate| date: 'dd/MM/yyyy HH:mm:ss'"  >
              </div>
            </div>


            <div class="form-group">
              <small id="statusDesc" class="text-muted">Status zamówienia</small>
              <select [compareWith]="compareOrderStatus" class="form-control"  [(ngModel)]="order.orderStatus" name="status"  required >
                <option *ngFor="let item of orderStatus"  [ngValue]="item"  >{{item.orderStatusName}}</option>
              </select>
            </div>



            <div class="form-group">
              <div class="form-group">
                <small id="total_Desc" class="text-muted">Wartość zamówienia</small>
                <input type="text" name="total" class="form-control"  size="300" aria-describedby="total_Desc" [readonly]="isFormReadOnly()" [(ngModel)]="totalAmount"  >
              </div>
            </div>

            <div class="form-group">
              <small id="delivery_typeDesc" class="text-muted">Rodzaj dostawy</small>
              <select [compareWith]="compareDeliveryType" class="form-control" [disabled]="authenticationService.isUser() || authenticationService.isSuperUser()" #delivery_type="ngModel" [(ngModel)]="order.deliveryType" name="delivery_type"  required >
                <option *ngFor="let item of deliveryTypes"  [ngValue]="item"  >{{item.deliveryTypeName}}</option>
              </select>
              <ul class="text-danger list-unstyled" *ngIf="delivery_type.dirty|| formSubmitted">
                <li  *ngIf="delivery_type.errors?.required">Wybierz typ dostawy</li>
              </ul>
            </div>

            <div *ngIf="order.deliveryType?.deliveryTypeId==5 || order.deliveryType?.deliveryTypeId==6 || order.deliveryType?.deliveryTypeId==7">
              <div class="form-group" >
                <small id="codDescript" class="text-muted">Kwota pobrania</small>
                <input type="number" name="cod" #cod="ngModel"  class="form-control" size="200"  aria-describedby="codDesc" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()"  [(ngModel)]="order.cod" pattern="^(?=.*?\d)\d*[.]?\d{1,2}$">
              </div>
              <ul class="text-danger list-unstyled" *ngIf="cod?.dirty|| formSubmitted">
                <li  *ngIf="cod.errors?.pattern">To pole musi zawierać format waluty z kropką np : 0.59 , 2.5 , 0.99 , 19.99</li>
              </ul>
            </div>



            <div class="form-group">
              <div class="input-group">
                <input type="date" name="delivery_date"   class="form-control" #delivery_date="ngModel" [(ngModel)]="order.deliveryDate" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" aria-describedby="delivery_dateDesc" required>
                <span class="input-group-addon" id="taxDesc">Data dostawy</span>
              </div>
              <ul class="text-danger list-unstyled" *ngIf="delivery_date.dirty|| formSubmitted">
                <li  *ngIf="delivery_date.errors?.required">Wprowadz planowaną datę dostawy</li>
              </ul>
            </div>

            <div class="form-group">
              <div class="form-group">
                <small id="additional_informationDesc" class="text-muted">Dodatkowe informacje</small>
                <textarea class="form-control" name="additional_information" id="additional_information" rows="3" [readonly]="authenticationService.isUser() || authenticationService.isSuperUser()" [(ngModel)]="order.additionalInformation" ></textarea>
              </div>
            </div>



          </form>
          <button class="btn bg-primary " (click)="editOrderForm()"  >Edytuj zamówienie</button>
          <button class="btn bg-primary " (click)="cancelEdit()"  >Anuluj </button>
          <div *ngIf="orderItems.length<1 && formSubmitted" class="alert alert-danger" role="alert">
            <strong>Błąd. Zamówienie nie może być puste</strong>
          </div>
        </p-panel>

      </div>
    </div>

  </p-fieldset>
</div>

<div *ngIf="authenticationService.isAdmin()" class="row">
  <div class="picked_products_list col-md-6 ">
    <p-fieldset legend="Pozycje zamówienia" [toggleable]="true">
      <table *ngIf="isBasketLinesEmpty()==false">
        <thead>
        <tr>
          <th>nazwa kosza</th>
          <th class="col_quantity">ilość</th>
          <th>usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let orderItems of orderItems">
          <td scope="row">{{orderItems.basket.basketName}}</td>
          <td><input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" min="0" [value]="orderItems.quantity" (change)="updateQuantity(orderItems,$event.target.value)"  ></td>
          <td class="col_delete"><i class="fa fa-trash" aria-hidden="true" (click)="deleteProductLine(orderItems.basket.basketId)"></i></td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="isBasketLinesEmpty()==true">Brak pozycji w zamówieniu</p>
    </p-fieldset>
  </div>



<div #basketsummary class="basket_summary col-md-6">
  <p-fieldset legend="Podsumowanie koszyka" [toggleable]="true">
    <div class="row">
      <div class="col-lg-5">
        <p class="tot">Kwota zamówienia: {{total/100| number : '1.2-2'}} zł</p>
     </div>
    </div>
  </p-fieldset>
</div>
</div>


  <div *ngIf="authenticationService.isAdmin()" class="basketList">
    <p-fieldset legend="Dodaj kosz do zamówienia" [toggleable]="true">

      <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon1">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"aria-describedby="basic-addon1">
      </div>

      <p-dataTable [value]="baskets" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
                   [loading]="loading" loadingIcon="fa-circle-o-notch" expandableRows="true" (onRowDblclick)="addBasketToOrder($event.data)">
        <p-column expander="true" header="Zawartość" styleClass="col-icon" [style]="{'width':'70px'}"></p-column>
        <p-column  header="lp."  [style]="{'width':'70px'}">
          <ng-template let-i="rowIndex" pTemplate="rowexpansion">
            {{i+1}}
          </ng-template>
        </p-column>
        <p-column field="basketName" header="Nazwa kosza" [sortable]="true"></p-column>
        <p-column field="basketType.basketTypeName" header="Typ kosza" [sortable]="true" ></p-column>
        <p-column field="basketTotalPrice"  header="Cena kosza "  [sortable]="true" >
          <ng-template let-row="rowData" pTemplate="body">
            {{row.basketTotalPrice/100| number : '1.2-2'}} zł.
          </ng-template>

        </p-column>
        <ng-template let-basket pTemplate="rowexpansion">
          <div class="basket_products_info">
            Zawartość kosza:  {{basket.basketName}}
            <table class="product_tab" >
              <thead>
              <tr class="product_tab_row">
                <th>Nazwa Produktu</th>
                <th>Pojemność</th>
                <th>Cena zakupu</th>
                <th>Ilość</th>
              </tr>
              </thead>
              <tbody>
              <tr class="product_tab_row" *ngFor="let i of basket.basketItems">
                <td>{{i.product.productName}}</td>
                <td>{{i.product.capacity}}</td>
                <td>{{i.product.price/100}} zł</td>
                <td>{{i.quantity}} szt.</td>
              </tr>
              </tbody>
            </table>

          </div>

        </ng-template>

      </p-dataTable>
    </p-fieldset>
  </div>

