<div class="products_box">
    <p-fieldset legend="Lista produktów" [toggleable]="true">
        <div class="input-group search_bar">
            <span class="input-group-addon" id="basic-addon-prod">
                 <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input #gb type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"
                   aria-describedby="basic-addon1">

            <label class="form-check-label only_available_product_checkbox">
                <input class="form-check-input" #availablecheck   type="checkbox"
                       (change)="filtrOnlyAvaileble()"> pokaż tylko
                dostępne produkty
            </label>


        </div>
        <p-dataTable [value]="products" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt
                     [loading]="loading" loadingIcon="fa-circle-o-notch"
                     (onRowDblclick)="addProductToGiftBasket($event.data)"
                     [lazy]="true" (onLazyLoad)="loadProductsLazy($event)" [totalRecords]="totalRecords">


            <p-column header="lp." [style]="{'width':'70px'}">
                <ng-template let-i="rowIndex" pTemplate="rowexpansion">
                    {{i+1}}
                </ng-template>
            </p-column>
            <p-column field="productName" header="Nazwa" [sortable]="true"></p-column>
            <p-column field="productCatalogName" header="Nazwa katalogowa" [sortable]="true"></p-column>
            <p-column field="productSeason.productSeasonName" header="Sezon produktu" [sortable]="true"></p-column>
            <p-column field="capacity" header="Pojemność" [sortable]="true" [style]="{'width':'80px'}"></p-column>


            <p-column field="suppliers" header="Dostawca" [filter]="true" filterMatchMode="inCollection"
                      [style]="{'width':'220px'}">
                <ng-template pTemplate="filter" let-col>
                    <p-dropdown [filter]="true" [options]="suppliers" placeholder="Wszyscy"
                                [resetFilterOnHide]="true" [showClear]="true" [style]="{'width':'100%'}"
                                (onChange)="dataTable.filter($event.value,col.field,col.filterMatchMode)"
                                styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template let-item="rowData" pTemplate="body">
                    <tr *ngFor="let supplier of item.suppliers"> {{supplier.supplierName}}</tr>
                </ng-template>
            </p-column>

            <p-column field="productSubType.subTypeName" styleClass="type_col" [filter]="true" header="Typ produktu"
                      [style]="{'width':'220px'}" filterMatchMode="equals" [sortable]="true"
                      [excludeGlobalFilter]="true" >
                <ng-template let-col pTemplate="filter">
                    <p-multiSelect [filter]="true" [resetFilterOnHide]="true" [showToggleAll]="true"
                                   [options]="productsType"
                                   defaultLabel="Wszystkie"
                                   (onChange)="dataTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                </ng-template>

                <ng-template let-row="rowData" pTemplate="body">
                    <span> {{ row.productSubType?.subTypeName}} ({{row.productSubType?.productType?.typeName}}) </span>
                </ng-template>
            </p-column>


            <p-column field="price" styleClass="price_col" header="Cena" [sortable]="true" [style]="{'width':'90px'}">
                <ng-template let-row="rowData" pTemplate="body">
                    {{row.price/100| number : '1.2-2'}} zł
                </ng-template>
            </p-column>

            <p-column field="stock" styleClass="stock_col" header="Stan" [sortable]="true" [style]="{'width':'70px'}">
                <ng-template let-row="rowData" pTemplate="body">
                    {{row.stock}} szt.
                </ng-template>

            </p-column>

            <p-column header="Akcja" [style]="{'width':'60px'}">
                <ng-template let-product="rowData" pTemplate="body" let-row="rowData" let-i="rowIndex"
                             pTemplate="rowexpansion">
                    <i *ngIf="product.isProductImg!=1" class="fa fa-picture-o fa-2x" style="color:grey" aria-hidden="true"
                       title="Zdjęcie produktu niedostępne"></i>
                    <i *ngIf="product.isProductImg==1" class="fa fa-picture-o fa-2x" aria-hidden="true"
                       title="Pokaż zdjęcie kosza" (click)=" showProductImg($event,product.id)"></i>
                </ng-template>
            </p-column>

        </p-dataTable>
    </p-fieldset>
</div>

<div class="row">
    <div class="picked_products_list col-xl-6">
        <p-fieldset legend="Zawartość kosza" [toggleable]="true">
            <p>
            <button class="btn bg-primary text btnsample btnd" (click)="showBasketPatterList()">kosz na wzór
            </button>
            </p>

            <!--<div class="d-table-wrapper">-->
                <!--<table class="d-table" *ngIf="isProductLinesEmpty()==false">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Nazwa</th>-->
                        <!--<th>Nazwa Katalogowa</th>-->
                        <!--<th class="col_quantity">Ilość</th>-->
                        <!--<th>Usuń</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr *ngFor="let basketItems of basketItems">-->
                        <!--<td scope="row">{{basketItems.product.productName}}</td>-->
                        <!--<td scope="row">{{basketItems.product.productCatalogName}}</td>-->
                        <!--<td><input type="number" class="form-control" name="" id="" aria-describedby="helpId"-->
                                   <!--placeholder="" min="0" [value]="basketItems.quantity"-->
                                   <!--(change)="updateQuantity(basketItems,$event.target.value)"></td>-->
                        <!--<td class="col_delete"><i class="fa fa-trash" aria-hidden="true"-->
                                                  <!--(click)="deleteProductLine(basketItems.product.id)"></i></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->

                <p-orderList [value]="basketItems"  dragdrop="true" dragdropScope="basketItems"
                             controlsPosition="left"
                            [listStyle]="{'height':'400px', 'max-width':'900px', 'margin-left':'20px'}" >


                    <ng-template let-items let-i="index" pTemplate="item">

                        <div class="ui-helper-clearfix">

                            <div style="font-size:14px;float:left;margin:15px 5px 0 0;width:20px">
                                {{i+1}}
                            </div>


                            <div
                                    style="font-size:14px;float:left;margin:15px 5px 0 0;width:160px">{{items.product
                                .productName}}
                            </div>
                            <div
                                    style="font-size:14px;float:left;margin:15px 5px 0 0;width:160px">{{items.product
                                .productCatalogName}}
                            </div>
                            <div style="font-size:14px;float:left;margin:9px 5px 0 0;width:65px">
                                <input type="number" class="form-control" name="" aria-describedby="helpId"
                                       placeholder="" min="0" [value]="items.quantity"
                                       (change)="updateQuantity(items,$event.target.value)">
                            </div>
                            <div style="font-size:14px;float:left;margin:15px 5px 0 15px;width:10px">
                                <i class="fa fa-trash" aria-hidden="true"
                                   (click)="deleteProductLine(items.product.id)"></i>
                            </div>

                        </div>


                    </ng-template>


                </p-orderList>


            <p *ngIf="isProductLinesEmpty()==true"> Kosz jest pusty</p>
        </p-fieldset>
    </div>

    <div class="basket_summary col-xl-6">
        <p-fieldset legend="Podsumowanie kosza" [toggleable]="true">
            <div class="row">
                <div class="col-lg-4">
                    <p>Cena Netto Produktów: {{total/100| number : '1.2-2'}} zł</p>
                </div>

                <div class="col-lg-8">
                    <form id="BasketForm" novalidate #form="ngForm" (submit)="submitForm(form)">


                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="price" class="form-control" #price="ngModel"
                                       aria-describedby="priceDesc" [(ngModel)]="basket.basketTotalPrice"
                                       pattern="^(?=.*?\d)\d*[.]?\d{1,2}$" required>
                                <span class="input-group-addon" id="priceDesc">Cena kosza</span>
                            </div>
                            <ul class="text-danger list-unstyled" *ngIf="price.dirty|| formSubmitted">
                                <li *ngIf="price.errors?.pattern">To pole musi zawierać format waluty z kropką np : 0.59
                                    , 2.5 , 0.99 , 19.99
                                </li>
                                <li *ngIf="price.errors?.required">To pole nie może być puste</li>
                            </ul>
                        </div>


                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="basketName" #basketName="ngModel" class="form-control"
                                       size="300" aria-describedby="nameDesc" [(ngModel)]="basket.basketName" required>
                                <span class="input-group-addon" id="nameDesc">Nazwa kosza</span>
                            </div>
                            <ul class="text-danger list-unstyled" *ngIf="basketName.dirty|| formSubmitted">
                                <li *ngIf="basketName.errors?.required">To pole nie może być puste</li>
                            </ul>
                        </div>


                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="basketImg" #basketImg="ngModel" class="form-control"
                                       size="300" aria-describedby="imgDesc" [(ngModel)]="basket.imgNumber">
                                <span class="input-group-addon" id="imgDesc">Numer zdjecia</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <small id="product_typeDesc" class="text-muted">Sezon</small>


                            <p-listbox name="type_list" [style]="{ 'width':'400px'}"
                                       [listStyle]="{'max-height':'100px', 'width':'390px'}"
                                       [options]="basketSeasonSelectItemList"
                                       [(ngModel)]="basket.basketSezon" [filter]="true">


                            </p-listbox>

                        </div>


                        <div *ngIf="filtersLoaded | async" class="form-group">
                            <small id="basket_typeDesc" class="text-muted">Typ kosza</small>
                            <select class="form-control" #basket_type="ngModel" name="basket_type"
                                    [(ngModel)]="basket.basketType" required="">
                                <option *ngFor="let item of basketTypes" [ngValue]="item"
                                        aria-describedby="basketTypeDesc">{{item.basketTypeName}}
                                </option>
                            </select>
                            <ul class="text-danger list-unstyled" *ngIf="basket_type.dirty || formSubmitted">
                                <li *ngIf="basket_type.errors?.required">Wybierz typ kosza</li>
                            </ul>
                        </div>


                        <div class="form-group">
                            <small id="add_file" class="text-muted">Wgraj zdjęcie kosza</small>
                            <p-fileUpload name="files" accept=".jpg"
                                          invalidFileTypeMessageSummary="Niedozwolony typ pliku"
                                          invalidFileTypeMessageDetail="Dozwolone sa tylko pliki .jpg"
                                          maxFileSize="250000" [showUploadButton]="false"
                                          (onRemove)="enableUploadButton()" (onError)="enableUploadButton()"
                                          (onClear)="enableUploadButton()"
                                          invalidFileSizeMessageSummary="{0} - plik jest za duży"
                                          invalidFileSizeMessageDetail="rozmiar pliku może wynosić maksymalnie {0}"
                                          chooseLabel="Wybierz zdjęcie" uploadLabel="Wgraj" cancelLabel="Anuluj"
                                          (onSelect)="handleFileInput($event)">


                            </p-fileUpload>
                        </div>


                        <div *ngIf="this.fileUploadElement.files.length !=1 && formSubmitted
                                     && this.basket.basketType?.basketTypeId == 1"
                             class="alert alert-danger" role="alert">
                            <strong>Wgraj plik </strong>
                        </div>

                        <div *ngIf="basketItems.length<1 && formSubmitted" class="alert alert-danger" role="alert">
                            <strong>Błąd. Zawartość kosza nie może być pusta</strong>
                        </div>

                        <button class="btn bg-primary pull-right" type="submit" form="BasketForm"> Zapisz Kosz</button>
                    </form>
                </div>
            </div>
        </p-fieldset>
    </div>
</div>
<gift-baskets></gift-baskets>


<p-dialog header="Wybierz kosz na wzór" modal="true" width="1300" [(visible)]="basketPatterPickDialogShow">
    <div>
        <div class="input-group search_bar">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            <input #globalfilter type="text" class="form-control search_input" pInputText size="50" placeholder="Szukaj"
                   aria-describedby="basic-addon1">

        </div>


        <p-dataTable [value]="basketsToSchema" [rows]="10" [paginator]="true" #dt
                     (onRowDblclick)="pickBasket($event.data)"
                     [loading]="loading" loadingIcon="fa-circle-o-notch" [globalFilter]="globalfilter"
                     expandableRows="true"  [lazy]="true" (onLazyLoad)="loadBasketsLazy($event)" [totalRecords]="totalBasketRecords"
                    (onRowClick)="getOrderAdditional($event)"   (onRowExpand)="getOrderAdditional($event)">

            <p-column expander="true" header="Zawartość" styleClass="col-icon " [style]="{'width':'70px'}"></p-column>
            <p-column header="lp." [style]="{'width':'70px'}">
                <ng-template let-i="rowIndex" pTemplate="rowexpansion">
                    {{i+1}}
                </ng-template>
            </p-column>
            <p-column field="basketName" header="Nazwa kosza" [sortable]="true"></p-column>
            <p-column field="basketType.basketTypeName" header="Typ kosza" [sortable]="true"></p-column>
            <p-column field="basketSezon.basketSezonName" header="Sezon kosza" [sortable]="true"></p-column>
            <p-column field="basketTotalPrice" header="Cena kosza" [sortable]="true">
                <ng-template let-row="rowData" pTemplate="body">
                    {{row.basketTotalPrice/100| number : '1.2-2'}} zł.
                </ng-template>
            </p-column>
            <ng-template let-basket pTemplate="rowexpansion">
                Zawartość kosza: {{basket.basketName}}
                <div class="d-table-wrapper">
                    <table class="d-table">
                        <thead>
                        <tr class="product_tab_row">
                            <th>Nazwa Produktu</th>
                            <th>Nazwa Katalogowa</th>
                            <th>Pojemność</th>
                            <th>Cena zakupu</th>
                            <th>Ilość</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="product_tab_row" *ngFor="let i of basket.basketItems">
                            <td>{{i.product.productName}}</td>
                            <td>{{i.product.productCatalogName}}</td>
                            <td>{{i.product.capacity}}</td>
                            <td>{{i.product.price/100| number : '1.2-2'}} zł</td>
                            <td>{{i.quantity}} szt.</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </ng-template>

        </p-dataTable>
    </div>
</p-dialog>

<p-dialog header="Produkt" [(visible)]="showImageFrame">
    <img [src]="imageToShow" [height]="700" [width]="700">
</p-dialog>